- content_for :resource_actions do
  = render partial: 'my_fit_wit/includes/my_fit_wit_nav'
  - unless @past_camps.empty?
    %h3 Other Past Camps
    %ul
    - @past_camps.each do |camp|
      %li= link_to camp.title, camp_report_path(camp.id)

- title @current_camp.title

- if @myworkouts.nil? and !params[:fitnesscamp]
  %p
    You have not yet completed any workouts at a fitness camp.
    You can #{link_to "register here", :controller => "fitness_camp_registration", :action => "all_fitness_camps"}.
- else
  - unless @time_slot.nil?
    - @dates.each do |mth_yr|
      #small_calendar
        %b
          = Date::ABBR_MONTHNAMES[mth_yr[0]]
          = mth_yr[1]
        %br
        = calendar_for(@meetings, :year => mth_yr[1], :month => mth_yr[0]) do |calendar|
          = calendar.head('S', 'M', 'T', 'W', 'T', 'F', 'S')
          - calendar.day(:day_method => :meeting_date) do |date, meeting|
            = date.day
            - unless meeting.empty?
              - meeting.first.attended?(@user) ? my_class = "there" : my_class = "absent"
              %div{:class => my_class, :style => "width:100%; height:10px;"}
          / date
        / calendar
      / small calendar
    / months
    .clear
    %p
      You attended #{@stats[:attended]} out of #{@stats[:total]} classes for
      a #{number_to_percentage(@stats[:percent], :precision => 0)} attendance
      rate.
    - unless @myworkouts.nil? or @myworkouts.empty?
      %table.table.table-striped
        %thead
          %tr
            %th Date
            %th Workout
            %th Score
        - @myworkouts.each do |e|
          %tr
            %td= e.meeting.meeting_date.to_s
            %td= link_to e.fit_wit_workout.name, specific_workout_path(e.id)
            %td= e.score_with_units
    - else
      %p You have no workouts for this camp.
    %h2 Fellow Campers
    - unless @campers.nil?
      - camp_count = 0
      .floatLeft{:style => "padding-left:20px;"}
        - @campers.each do |camper|
          = camper.name
          %br/
          - camp_count += 1
          = "</div><div class=\"floatLeft\" style=\"padding-left:20px;\">".html_safe if (camp_count % 25 == 0)
    - else
      %p No campers
    .clear
  / time slot check