- title "Fitness Camp Reports"

- content_for :resource_actions do
  = render partial: 'my_fit_wit/includes/my_fit_wit_nav'
  - unless @past_camps.empty?
    %ul
    - @past_camps.each do |camp|
      %li= link_to camp.title, camp_report_path(camp.id)

%h3
  Camp report #{"for #{@current_camp.full_title}" if @current_camp}
- if @myworkouts.nil? and !params[:fitnesscamp]
  %p
    You have not yet completed any workouts at a fitness camp.
    You can #{link_to "register here", :controller => "fitness_camp_registration", :action => "all_fitness_camps"}.
- else
  - unless @past_camps.empty?
    - form_tag("/my_fit_wit/camp_fit_wit_workout_progress") do |form|
      Pick workouts for a specific Fitness Camp:
      =# form.select :fitness_camp_id, @past_camps.all.to_a
      =# form.submit "Look up"
  - else
    %p You have no other Fitness Camps to choose from.
  - attendance_count = 0
  - unless @time_slot.nil?
    - @dates.each_with_index do |mth_yr, index|
      #small_calendar
        = Date::ABBR_MONTHNAMES[mth_yr[0]]
        = mth_yr[1]
        %br/
        - calendar_for(@meetings, :year => mth_yr[1], :month => mth_yr[0]) do |calendar|
          = calendar.head('S', 'M', 'T', 'W', 'T', 'F', 'S')
          - calendar.day(:day_method => :meeting_date) do |date, meeting|
            = date.day
            - unless meeting.empty?
              - if meeting.first.attended?(@u.id)
                - attendance_count += 1
                - my_class = "there"
              - else
                - my_class = "absent"
              %div{:class => my_class, :style => "width:100%; height:10px;"}
          / date
        / calendar
      / small calendar
    / months
    .clear
    %p
      You attended #{attendance_count.to_i} out of #{@meeting_count.to_i} classes for
      a #{number_to_percentage((attendance_count.to_f/@meeting_count.to_f)*100, :precision => 0)} attendance
      rate.
    - unless @myworkouts.nil? or @myworkouts.empty?
      %table.table.table-striped
        %thead
          %tr
            %th Date
            %th Workout
            %th Score
        - @myworkouts.each do |e|
          %tr
            %td= e.meeting.meeting_date.to_s
            %td= link_to e.fit_wit_workout.name, my_fit_wit_specific_fit_wit_workout_path(e.id)
            %td= e.score_with_units
    - else
      %p You have no workouts for this camp.
    %h2 Fellow Campers
    - unless @campers.nil?
      - camp_count = 0
      .floatLeft{:style => "padding-left:20px;"}
        - @campers.each do |camper|
          = camper.name
          %br/
          - camp_count += 1
          = "</div><div class=\"floatLeft\" style=\"padding-left:20px;\">" if (camp_count % 25 == 0)
    - else
      %p No campers
    .clear
  / time slot check