<div>
    <h1>
    <%= "<span class=\"dark\">#{@fit_wit_workout_title}</span>" if @exercise_title %>
    </h1>
    <% unless @fit_wit_workout.description.empty? %>
    <div class="well">
        <h3>Description</h3>
        <%= @fit_wit_workout.description %>
    </div>
    <% end %>

<% unless @workouts.nil? %>
    <% if @workouts.empty? and @fit_wit_workout_title %>
        <p>You haven't accomplished any <%= @fit_wit_workout_title %> workouts.</p>
    <% else %>
        <h2>Your historical scores</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Score</th>
                    <th>Rx'd</th>
                </tr>
            </thead>
        <% @workouts.each do |w| %>
            <tr>
                <td><%= compact_date(w.meeting.meeting_date) %></td>
                <td><%= w.score_with_units %></td>
                <td><%= w.show_rxd %></td>
            </tr>
        <% end %>
        </table>
    <% end %>
<% else %>
    <p>Please choose a workout.</p>
<% end %>
</div>
<div style="clear: both;"></div>
<div style="width:400px; padding:30px; margin-left: auto; margin-right: auto;">
  <%= image_tag(@chart, alt: "Workout Progress Chart") if @chart %>
  <p>Your scores are compared to the best and average scores
  for the entire FitWit community.</p>
</div>
<div class="clear"></div>
<h2>Peers</h2>
<% if @peers %>
    <table class="table table-striped">
        <thead>
            <tr>
              <th>Name</th>
              <th>Date</th>
              <th>Score</th>
            </tr>
        </thead>
	<% draw_peer_collection(@peers[:above]) %>
	<% draw_row(@peers[:me]) %>
	<% draw_peer_collection(@peers[:below]) %>
    </table>
<% else %>
    <p>No peers yet (or no method defined)</p>
<% end %>
<h2>All-time leader board</h2>
<table class="table table-striped">
  <thead>
  <tr>
    <th>Name</th>
    <th>Date</th>
    <th>Score</th>
  </tr>
  </thead>
  <% draw_peer_collection(@leaders) %>
</table>












