%p
  %b Title:
  = @fitness_camp.title
%p
  %b Session start date:
  = @fitness_camp.session_start_date
%p
  %b Session end date:
  = @fitness_camp.session_end_date
%p
  %b Session active:
  = @fitness_camp.session_active
%p
  %b Description:
  = @fitness_camp.description

.well
  = link_to "Add a time slot", new_backend_location_fitness_camp_time_slot_path(@location.id, @fitness_camp.id), class: "btn btn-primary"

%h3
  Time Slots
%ul.nav.nav-tabs.nav-stacked
  - @fitness_camp.time_slots.each do |ts|
    %li
      = link_to ts.start_time_f, backend_location_fitness_camp_time_slot_path(@location.id, @fitness_camp.id, ts.id)
