- content_for :header do
  %h1= resource_class.model_name.human(count: 2)

%ul.tabs
  %li.active= link_to "Index", "#"
  %li= link_to "New", new_resource_path

%table
  %tr
    %th Title
    %th Session start date
    %th Session end date
    %th Session active
    %th Time Slots
    %th

  - @fitness_camps.each do |resource|
    %tr
      %td= link_to resource.title, resource_path(resource)
      %td= resource.session_start_date
      %td= resource.session_end_date
      %td= resource.session_active
      %td= link_to "#{resource.time_slots.size} Time Slot#{resource.time_slots.size > 1 ? 's' : ''}", backend_location_fitness_camp_time_slots_path(@location.id, resource.id)
      %td.row-actions
        = link_to 'edit', edit_resource_path(resource)
        |
        = link_to 'destroy', resource_path(resource), method: :delete, confirm: "Are you sure?"
