<% title "MyFitWit Progress" %>

<% content_for :right_column do %>
  <div id="dialog-form"></div>
<% end %>

<!-- placeholder for form to load calendar for fitness camp -->
<% if @user.past_fitness_camps %>
    <% form_tag :action => :load_calendar_date do %>
        <%= select_tag "start_month", options_for_select(@fitness_camps) %>
        <%= submit_tag "Go", {:id => 'my_submit', :class=>"button"} %>
    <% end %>
<% end %>
<!-- articles/index.html.erb -->
<div id="my_fit_wit_calendar">
  <h2 id="month">
    <%= link_to "<", :month => (@calendar_date.beginning_of_month-1).strftime("%b-%Y") %>
    <%= h @calendar_date.strftime("%B %Y") %>
    <%= link_to ">", :month => (@calendar_date.end_of_month+1).strftime("%b-%Y") %>
  </h2>
  <%= calendar_for @calendar_events, :year => @calendar_date.year, :month => @calendar_date.month do |calendar| %>
      <%= calendar.head('Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday') %>
      <%= calendar.day(:day_method => :meeting_date) do |date, events| %>
          <div style="margin:0;padding:0;width:100%; position:relative">
            <%= date.day %>
            <div class="ui-state-default ui-corner-all date_button">
              <%= link_to "<span class=\"ui-icon ui-icon-plusthick\" style=\"padding-bottom: 0px;\"></span>".html_safe, add_custom_workout_path(date), remote: true, :class => 'bottom_date' %>
            </div>
            <ul>
              <% for event in events %>
                  <% description = event.previous_scores %>
                  <li>
                    <% type = event.format_class %>
                    <% if type == 'custom_workout' %>
                        <%= link_to h(event.name), show_custom_workout_path(event.id), {:title => description, :class => "#{event.format_class} activity"}, remote: true %>
                    <% elsif type == 'goal' %>
                        <%= link_to h(event.name), {:action => :my_goals}, {:title => description, :class => "#{event.format_class} activity"} %>
                    <% else %>
                        <%= link_to h(event.name), {:action => :specific_fit_wit_workout, :id => event.id}, {:title => description, :class => "#{event.format_class} activity"} %>
                    <% end %>
                  </li>
              <% end %>
            </ul>
          </div>
      <% end %>
  <% end %>
</div>
