<%= error_messages_for :user %>
<h1><%= @pagetitle %></h1>
<% form_for(@user, :class => "fitwit",
            :url => {:controller => 'my_fit_wit',
                     :action => 'change_password'},
            :eieio => @user.id) do |f| %>
    <fieldset>
      <ul>
        <li>
          <%= desc_label(f, :password, 'Current Password') %>
          <%= password_field_tag('current_password', nil, :size => 15) %>
        </li>
        <li>
          <%= desc_label(f, :password, 'New Password') %>
          <%= f.password_field(:password, :size => 15) %>
        </li>
        <li>
          <%= desc_label(f, :password_confirmation, 'Confirm') %>
          <%= f.password_field(:password_confirmation, :size => 15) %>
        </li>
        <li>
          <div class="desc">&nbsp;</div>
          <%= f.submit "Create", :class => 'button' %>
        </li>
      </ul>
    </fieldset>
<% end %>
