<%= error_messages_for :user %>

<h1>Editing your information</h1>

<% form_for(@user, :class => "fitwit", :url => {:action => 'update'}) do |f| %>
<fieldset>
  <legend>Personal Information</legend>
  <ul>
    <li>
      <%= desc_label(f,:user_name,'Username') %>
      <%= f.text_field(:user_name, :size => 15) %>
    </li>
    <li>
      <%= desc_label(f,:first_name,'Name') %>
      <span>
        <%= f.text_field(:first_name,:size => 15, :maxlength => 50) +
        f.label(:first_name, 'First') %>
      </span>
      <span>
        <%=  f.text_field(:last_name, :size => 15, :maxlength => 50) + 
        f.label(:last_name, 'Last')  %>
      </span>
    </li>
    <li>
      <%= desc_label(f,:date_of_birth,'Birthday') %>
      <%= f.date_select(:date_of_birth,
          :default => 30.years.ago,
      :start_year => 1910,:end_year => Date.today.year-5) %>
    </li>
    <li>
      <%= desc_label(f,:gender,'Gender') %>
      <%= f.select(:gender, User::GENDER) %>
    </li>
    <li>
      <%= desc_label(f,:email_address,'e-mail') %>
      <%= f.text_field(:email_address) %>
    </li>
    <li>
      <%= desc_label(f,:occupation,'Occupation') %>
      <%= f.text_field(:occupation) %>
    </li>
    <li>
      <%= desc_label(f,:company,'Employer',false) %>
      <%= f.text_field(:company) %>
    </li>
    <li>
      <%= desc_label(f,:address,'Address',false) %>
      <div id="address" class="address">
        <div>
          <%= f.text_field(:street_address1, :class => "full") +
          f.label(:street_address1,"Street Address#{FIELD_REQUIRED}") %>
        </div>
        <div>
          <%= f.text_field(:street_address2, :class => "full") +
          f.label(:street_address2,"Street Address (cont)")%>
        </div>
        <div>
          <span>
	    <!-- City ! -->
	    <%= f.text_field(:city, :size => '22') +
	    f.label(:city, "City#{FIELD_REQUIRED}") %>
          </span>
          <span>
	    <!-- State ! -->
	    <%= f.us_state_select(:us_state, {:show => :abbreviations}) +
	    f.label(:us_state, "State#{FIELD_REQUIRED}") %>
          </span>
          <!-- Zip ! -->
          <span>
	    <%= f.text_field(:zip, :size => 10) +
	    f.label(:zip, "Zip") %>
          </span>
        </div>
        <div style="clear:both"></div>
      </div>
    </li>
    <li>
      <%= desc_label(f,:primary_phone,'Phone',false) %>
      <span>
        <%= f.text_field(:primary_phone, :size => 15) +
        f.label(:primary_phone, "Primary Phone#{FIELD_REQUIRED}")%>
      </span>
      <span>
        <%= f.text_field(:secondary_phone, :size => 15) +
        f.label(:secondary_phone, "Secondary Phone") %>
      </span>
    </li>
    <li>
      <%= desc_label(f,:t_shirt_size,'T-shirt size',false) %>
      <%= f.select(:t_shirt_size, User::TSHIRT_SIZES)  %>
    </li>
    <li>
      <%= desc_label(f,:emergency_contact_information,
          'Emergency Contact Information') %>
      <%= f.text_area(:emergency_contact_information, :size => "40x3") %>
    </li>
    <li>
      <%= desc_label(f,:weight,'Weight:',false) %>
      <span>
        <%= f.text_field(:weight, :size => 5) +
        f.label(:weight,'Weight (lb)') %>
      </span>
    </li>
    <li>
      <%= desc_label(f,:height,'Height:',false) %>
      <span>
        <%= f.select(:height_feet, (3..7).to_a) +
	    f.label(:height_feet,'feet') %>
      </span>
      <span>
        <%= f.select(:height_inches, (1..12).to_a) +
	    f.label(:height_inches,'inches') %>
      </span>
    </li>
    <li>
      <%= desc_label(f,:how_did_you_hear_about_us,
          'How did you learn about FitWit?',false) %>
      <%= f.text_field(:how_did_you_hear_about_us) %>
    </li>
    <li>
      <div class="desc">&nbsp;</div>
      <%= f.submit "Update", :class => 'button' %>
    </li>
  </ul>
</fieldset>    
<% end %>
<% if admin? %>
    <%= link_to 'Show', @user %> |
    <%= link_to 'Back', users_path %>
<% end %>
