%div{class: "one_half", id: "goal_#{goal.id}"}
  %div{class: "info_box info_box1 rounded"}
    .title_box
      = h(goal.goal_name)
    .content_box
      %b Description:
      = goal.description
      %br/
      %b
        Target Date: #{compact_date(goal.target_date)}
      %br/
      - days_left = goal.target_date - Date.today()
      - remaining = distance_of_time_in_words(Date.today, goal.target_date)
      %b Time Remaining:
      = days_left > 0 ? remaining : remaining + " past"
      .goal_actions
        = link_to "Complete", my_fit_wit_update_goal_path(goal.id), class: "small-btn light-btn", remote: true, id: "complete_#{goal.id}"
        = link_to "Remove", my_fit_wit_delete_goal_path(goal.id), class: "small-btn light-btn", remote: true, id: "remove_#{goal.id}", confirm: "Do you really want to delete your goal?"