
<dt id="dt_<%= goal.id %>">
  <div style="margin: 0pt; padding: 0px 0px 10px 0px; width: 100%; position: relative;">
    <div class="goal_complete ui-state-default ui-corner-all fg-button" style="position:absolute; top:0; right:0;" title="<%= goal.id %>">
      <span style="padding-bottom: 0px;" class="ui-icon ui-icon-check"></span>
    </div>
    <div class="delete_goal ui-state-default ui-corner-all fg-button" style="position:absolute; top:0; right:70px;" title="<%= goal.id %>">
      <span style="padding-bottom: 0px;" class="ui-icon ui-icon-closethick"></span>
    </div>
  </div>
  <%= h(goal.goal_name) %>
</dt>

<dd id="dd_<%= goal.id %>" style="background-color:#efefef;">
  <b>Description:</b> <%= goal.description %>
  <br/>
  <b>Target Date: <%= compact_date(goal.target_date) %></b><br />
  <% days_left = goal.target_date - Date.today() %>
  <% remaining = distance_of_time_in_words(Date.today, goal.target_date) %>
  <b>Time Remaining:</b> <%= days_left > 0 ? remaining : remaining + " past"  %>
</dd>
