<%= error_messages_for(@user)  %>
<h1>Member Health History</h1>
<% simple_form_for @user do |f| %>
    <fieldset>
      <legend>Health History</legend>
      <ul>
        <li>
          <h2>Do you now, or have you had in the past:</h2>

        </li>
        <li>
          <%= f.label(:fitness_level,
                      "Rate your current fitness level from 1 to 10 (1 = lowest)", {:class => 'desc longer', :style => 'width:90%;'}) %>
          <%= f.select :fitness_level, (1..10) %>
        </li>
        <li>
          <%= hidden_field_tag("referer", @back_page) %><%# no longer needed %>
          <%= f.submit "Update", :class => 'button' %>
        </li>
      </ul>
    </fieldset>
<% end %>
