%h1 My Measurements
- unless @my_measurements.empty?
  %table#meas_table.tables.table-light.highlight-row
    %thead
      %tr.top_line
        %th.left Date
        %th Height
        %th Weight
        %th Chest
        %th Waist
        %th Hip
        %th Right Arm
        %th Right Thigh
        %th Bodyfat %
        %th BMI
    - flash[:user_id] = @my_user_id
    %tbody
      - @my_measurements.each do |measurement|
        = render :partial => "my_fit_wit/includes/measurement_include", :locals => {:measurement => measurement}
- else
  %p You don't currently have any measurements
/ add measurements form
= form_for :measurement, :url => { :action => "add_new_measurement" }, :html => { :class => "fitwit", :id => 'measurement_form'} do |f|
  %fieldset
    .field= desc_label(f, :review_date, "Review Date:", false) + f.text_field(:review_date, :class=>'inputdate required date', :size => 10)
    .field= desc_label(f, :height, "Height: (in)", false) + f.text_field(:height, :class=>'number', :size => 5)
    .field= desc_label(f, :weight, "Weight: (lbs)", false) + f.text_field(:weight, :class=>'number', :size => 5)
    .field
      %a#other_selector{:href => "#"} Add additional measurements
    #other_measurements
      .field= desc_label(f, :chest, "Chest: (in)", false) + f.text_field(:chest, :class=>'number', :size => 5)
      .field= desc_label(f, :waist, "Waist: (in)", false) + f.text_field(:waist, :class=>'number', :size => 5)
      .field= desc_label(f, :hip, "Hip: (in)", false) + f.text_field(:hip, :class=>'number', :size => 5)
      .field= desc_label(f, :right_arm, "Right Arm: (in)", false) + f.text_field(:right_arm, :class=>'number', :size => 5)
      .field= desc_label(f, :right_thigh, "Right Thigh: (in)", false) + f.text_field(:right_thigh, :class=>'number', :size => 5)
      .field= desc_label(f, :bodyfat_percentage, "Bodyfat: (%)", false) + f.text_field(:bodyfat_percentage, :class=>'number', :value=> 0, :size => 5)
      .field= desc_label(f, :bmi, "bmi:", false) + f.text_field(:bmi, :class=>'number', :size => 5)
    = hidden_field(:measurement, :user_id, :value => @user_id)
    .field
      = f.submit "Create", :class=> 'button'
:javascript
  $(document).ready(function() {
      $("#other_measurements").hide();
      $("#other_selector").toggle(function () {
          $("#other_measurements").fadeIn(300);
          $(this).text("Remove additional measurements");
      }, function () {
          $(this).text("Add additional measurements");
          $("#other_measurements").hide('slow');
      }
      );
      $("#measurement_form").validate({
          submitHandler: function(form) {
              form.submit(function () {
                  $.post($(this).attr('action'), $(this).serialize(), null, "script");
                  return false;
              });
          }
      });
  });