<h1>My Measurements</h1>
<% unless @my_measurements.empty? %>
  <table class="meas" id="meas_table">
  <tr class="top_line">
    <th>Date</th>
    <th>Height</th>
    <th>Weight</th>
    <th>Chest</th>
    <th>Waist</th>
    <th>Hip</th>
    <th>Right Arm</th>
    <th>Right Thigh</th>
    <th>Bodyfat %</th>
    <th>BMI</th>
  </tr>
  <% flash[:user_id] = @my_user_id %>
  <% @my_measurements.each do |measurement|%>
        <%= render :partial => "my_fit_wit/includes/measurement_include", :locals => {:measurement => measurement} %>
  <% end %>
</table>
<% else %>
  <p>You don't currently have any measurements</p>
<% end %>

<!-- add measurements form -->
<% form_for :measurement, :url => { :action => "add_new_measurement" }, :html => { :class => "fitwit", :id => 'measurement_form'} do |f| %>
<fieldset>
  <legend>Add measurement</legend>
    <li><%= desc_label(f, :review_date, "Review Date:") + f.text_field(:review_date, :class=>'inputdate required date', :value => Date.today.strftime("%m/%d/%Y"), :size => 10) %></li>
    <li><%= desc_label(f, :height, "Height: (in)", false) + f.text_field(:height, :class=>'number', :size => 5) %></li>
    <li><%= desc_label(f, :weight, "Weight: (lbs)", false) + f.text_field(:weight, :class=>'number', :size => 5) %></li>
    <li><a href="#" id="other_selector">Add additional measurements</a></li>
    <div id="other_measurements">
      <li><%= desc_label(f, :chest, "Chest: (in)", false) + f.text_field(:chest, :class=>'number', :size => 5) %></li>
      <li><%= desc_label(f, :waist, "Waist: (in)", false) + f.text_field(:waist, :class=>'number', :size => 5) %></li>
      <li><%= desc_label(f, :hip, "Hip: (in)", false) + f.text_field(:hip, :class=>'number', :size => 5) %></li>
      <li><%= desc_label(f, :right_arm, "Right Arm: (in)", false) + f.text_field(:right_arm, :class=>'number', :size => 5) %></li>
      <li><%= desc_label(f, :right_thigh, "Right Thigh: (in)", false) + f.text_field(:right_thigh, :class=>'number', :size => 5) %></li>
      <li><%= desc_label(f, :bodyfat_percentage, "Bodyfat: (%)", false) + f.text_field(:bodyfat_percentage, :class=>'number', :value=> 0, :size => 5) %></li>
      <li><%= desc_label(f, :bmi, "bmi:", false) + f.text_field(:bmi, :class=>'number', :size => 5) %></li>
    </div>
    <%= hidden_field(:measurement, :user_id, :value => @user_id) %>
    <li>
      <%= f.submit "Create", :class=> 'button' %>
    </li>
</fieldset>
  <% end %>

<script>
    $(document).ready(function() {
        $("#other_measurements").hide();
        $("#other_selector").toggle(function () {
            $("#other_measurements").fadeIn(300);
            $(this).text("Remove additional measurements");
        }, function () {
            $(this).text("Add additional measurements");
            $("#other_measurements").hide('slow');            
        }
        );
        $("#measurement_form").validate({
            submitHandler: function(form) {
                form.submit(function () {
                    $.post($(this).attr('action'), $(this).serialize(), null, "script");
                    return false;
                });
            }
        });
    });
</script>
