

<ul id="my_fitwit_nav" class="<%= format_class %>">
  <li><%= link_to image_tag('my_fit_wit/sm_my_fit_wit.png',
          {:id => 'my_fit_wit_home', :title => 'MyFitWit Home'}), :action => 'index' %></li>
  <li><%= link_to image_tag('my_fit_wit/sm_progress_log.png',
          {:id => 'exercise_progress', :title => 'Workout progress'}), :action => 'exercise_progress' %></li>
  <li><%= link_to image_tag('my_fit_wit/sm_health_log.png',
          {:id => 'camp_report', :title => 'See your camp reports'}), :action=>'camp_exercise_progress' %></li>
  <li><%= link_to image_tag('my_fit_wit/sm_goals_log.png',
          {:id => 'my_goals', :title => 'Your goals'}), :action => 'my_goals' %></li>
  <li><%= link_to image_tag('my_fit_wit/sm_profile.png',
          {:id => 'profile', :title => 'Edit your profile'}), :action => 'profile' %></li>
</ul>

<SCRIPT type="text/javascript">

$(document).ready(function() 
{
   // Match all link elements with href attributes within the content div
   $('ul#my_fitwit_nav img[title]').qtip();
});
</SCRIPT>
