<div class="floatLeft" style="width:350px">
  <h1>
    <%= "<span class=\"dark\">#{@fit_wit_workout_title}</span>" if @exercise_title %>
  </h1>

  <p>
    <%= @fit_wit_workout.description %>
    <br/>
    <%= @fit_wit_workout.score_method %>
  </p>

  <% unless @workouts.nil? %>
      <% if @workouts.empty? and @fit_wit_workout_title %>
          <p>You haven't accomplished any <%= @fit_wit_workout_title %> workouts.</p>
      <% else %>
          <h2>Your historical scores</h2>
          <table>
            <tr>
              <th style="width:100px;">Date</th>
              <th style="width:200px;">Score</th>
            </tr>
            <% @workouts.each do |w| %>
                <tr class="<%= cycle('dark', 'light') %>">
                  <td><%= compact_date(w.meeting.meeting_date) %></td>
                  <td><%= "#{w.score} #{w.fit_wit_workout.units}" %></td>
                </tr>
            <% end %>
          </table>
      <% end %>
  <% else %>
      <p>Please choose a workout.</p>
  <% end %>
</div>
<div class="floatRight" style="width:400px; padding-right:10px;">
  <%= image_tag @chart if @chart %>
</div>
<div class="clear"></div>
<h2>Peers</h2>
<% if @peers %>
    <table style="width:100%">
      <th>Name</th>
      <th>Date</th>
      <th>Score</th>
      <% @peers.each_with_index do |pr, i| %>
          <%# active_user = @user_id == pr.user_id %>
          <% if i == 5 %>
              <tr>
                <td>You</td>
                <td><%= @workouts.first.meeting.meeting_date %></td>
                <td><%= @workouts.first.score %></td>
              </tr>
          <% end %>
          <tr class="<%= cycle('light', 'dark') %>">
            <%# name = User.find(pr.user_id).full_name %>
            <%# ex = Exertion.find(pr.workout_id) %>
            <td><%= pr.first_name + " " + pr.last_name %><%#= active_user ? content_tag(:b,name) : name %></td>
            <td><%= pr.meeting_date %><%#= compact_date(ex.meetings.meeting_date) %></td>
            <td><%= pr.score %><%#= ex.score %></td>
          </tr>
      <% end %>
    </table>
<% else %>
    <p>No peers yet (or no method defined)</p>
<% end %>
<h2>All-time leader board</h2>
<table style="width:100%">
  <tr>
    <td>Name</td>
    <td>Date</td>
    <td>Score</td>
  </tr>
  <% @leaders.each do |l| %>
      <tr class="<%= cycle('light', 'dark') %>">
      <td><%= l.first_name + " " + l.last_name %></td>
      <td><%= l.meeting_date %></td>
      <td><%= l.score %></td>
      </tr>
  <% end %>
</table>












