%div{ :class=>:blog_intro, :id=>blog.id.to_s  }
%h1= link_to(blog.title, blog)
- if blog.is_draft
  %p= t(:is_draft_label)
  
- if blog.cover_picture_exists?
  .cover_picture{id: "cover_picture_#{blog.id}", style: "float:right; margin-left: 10px;"}
    = link_to_function( image_tag( w3c_url(blog.cover_picture.url(:thumb) ), class: "border-img"), "image_popup('#{w3c_url(blog.cover_picture.url(:popup))}')")

- if can? :manage, blog
  %address{ :style=>'width: 400px; font-style: normal;' }
    %span.item_link_buttons{:id => blog.title.underscore.downcase }
      = ui_button 'edit',  t(:edit), edit_blog_path(blog)
      = ui_button 'destroy', t(:destroy), blog,:confirm => "Are you sure?",:method => :delete
      %div{ :style => 'float: left; margin-left: 30px; width: 300px; padding: 5px; font-size: 0.8em;' }
        = t(:comments_allowed, :yes_or_no => blog.allow_comments ? t(:allowed) : t(:forbidden) )
        %br
        = t(:public_comments_allowed, :yes_or_no => blog.allow_public_comments ? t(:allowed) : t(:forbidden) )
        %br
        = t(:num_comments, :count => blog.postings.count)
      %br.clear

= ContentItem::markdown(blog.synopsis) if blog.synopsis

%br.clear
