%h3= "#{blog.title} Blog"
%div{ :class=>:blog_intro, :id=>blog.id.to_s  }
- if blog.is_draft
  %p= t(:is_draft_label)

%address
  %span.item_link_buttons{:id => blog.title.underscore.downcase }
    - if can? :manage, blog
      = ui_button 'edit',  t(:edit), edit_blog_path(blog)
      = ui_button 'destroy', t(:destroy), blog,:confirm => t(:are_you_sure),:method => :delete

= ContentItem::markdown(blog.synopsis) if blog.synopsis

- if can? :manage, blog
  %div{ :style => 'float: left; margin-left: 30px; width: 300px; padding: 5px; font-size: 0.8em;' }
    = t(:comments_allowed, :yes_or_no => blog.allow_comments ? t(:allowed) : t(:forbidden) )
    %br
    = t(:public_comments_allowed, :yes_or_no => blog.allow_public_comments ? t(:allowed) : t(:forbidden) )
    %br
    = t(:num_comments, :count => blog.postings.count)
%br.clear