<%= simple_form_for(blog, :html => { :multipart => true }, :html => { :class => 'form-horizontal' } ) do |f| %>

  <%= errors_for(blog)%>

  <%= f.input :title %>

  <%= render(:partial => 'cover_picture', :locals => { :blog => blog, :format => :thumb }) -%>

  <%= f.input :cover_picture, as: :file %>   

  <%= f.input :user_role, collection: (0..5).map{|i| [User::ROLES[i], i]}, label: "Role necessary to view", include_blank: false  %>
  <%= f.input :allow_comments, as: :boolean %>
  <%= f.input :allow_public_comments, as: :boolean %> 

  <%= f.input :synopsis, as: :text, input_html: {rows: 5, style: "width:435px;"} %>
  <%= f.input :location, collection: Location.all.map{|l| [l.name, l.id]}.push(['none',nil]), include_blank: false %>

  <div class='control-group'>
    <%= f.label :page_tokens, t(:sidebar_pages) %>
    <div style='margin-left: 160px;' class="well">
      <% for page in Page.asc(:title) %>
        <%= check_box_tag "blog[page_tokens][]", page.id.to_s, blog.pages.include?(page) %> <%= page.title %><br/>
      <% end %>
    </div>
  </div>
  
  <%= f.input :is_draft, as: :boolean, label: "Draft?" %>
  
  <div class="form-actions">
    <%= f.button :submit, class: 'btn-primary' %>
  </div>

<% end %>
