%div
  - content_for :right_column do
    #vitals
      - if @blog.is_draft
        %p= t(:is_draft_label)

      - if @blog.cover_picture_exists?
        #blog_picture
          = link_to_function( image_tag( w3c_url(@blog.cover_picture.url(:blog_pic) ), class: "border-img centered-image"), "image_popup('#{w3c_url(@blog.cover_picture.url(:popup))}')")
        %br.clear
        %p &nbsp;
    - if @blog.pages.any?
      #blog_pages
        - for page in @blog.pages.where(is_draft: draft_mode)
          .widgets.subpages-widget
            = render :partial => 'pages/page_intro', :locals => { :page => page }
            /%p.content_separator
    #defined_links_area.widgets.subpages-widget
      %h3 Links
      %ul= render 'home/menu/application'
    #tagcloud.widgets.widget_tags
      %h3 Tags
      .tags-meta
        = tag_cloud
      %br.clear
    #action_links_area
      = ui_button 'back', t(:blog_index), blogs_path unless @blog.location
      = ui_button('add', t(:create_new_posting), new_blog_posting_path(@blog) ) if can? :create, Posting
      - if can? :manage, @blog
        = ui_button 'edit',  t(:edit), edit_blog_path(@blog)
        = ui_button 'destroy', t(:destroy), @blog, :confirm => t(:are_you_sure),:method => :delete
    #blog_description.widgets
      = render :partial => "blog_synopsis", :locals => { :blog => @blog}
    - if @blog.location
      = render partial: 'blogs/location_blog_box', locals: {blog: @blog, location_id: @blog.location.id}

  .left_column
    - title @blog.title
    
    - render_pagination_box @postings
    
    #postings{ style: 'clear: right;'}
      - @postings.each do |posting|
        = render :partial => 'postings/posting', :locals => { :posting => posting, :blog => @blog }
      = render :partial => 'home/load_more', :locals => { :resources => @postings, :path => blog_path(@blog) }
    
    - render_pagination_box @postings
    
    .clear
  .clear
