= simple_form_for [:backend, @event], :wrapper => :inline do |f|
  %fieldset
    = f.input :title
    = f.input :starts_at, :input_html => { :class => 'datetimepicker' }
    = f.input :ends_at, :input_html => { :class => 'datetimepicker' }
    = f.input :description, as: :text, :input_html => { rows: 8 }
    = f.input :all_day, as: :boolean
  .actions
    = f.submit class: "btn primary"
