- content_for :header do
  %h1= "Events for #{@location.name}"

%ul.nav.nav-tabs
  %li.active= link_to "Index", "#"
  %li= link_to "New", new_resource_path
  %li= link_to "Calendar",  backend_location_calendar_path(@location)

%table.table.table-striped
  %thead
    %tr
      %th Title
      %th Starts
      %th Ends
  %tbody
  - @events.each do |resource|
    %tr
      %td= link_to resource.title, resource_path(resource.id)
      %td= resource.starts_at.stamp("Wed, 1-Jan 4:00 PM")
      %td= resource.ends_at.stamp("Wed, 1-Jan 4:00 PM")
      %td.row-actions
        = link_to 'edit', edit_resource_path(resource), class: "btn btn-small btn-warning"
        = link_to 'destroy', resource_path(resource), method: :delete, confirm: "Are you sure?", class: "btn-small btn btn-danger"


