- unless comment.new_record?
  - present comment do |presenter|
    %br.clear
    %li{:id => "comment_#{comment.id.to_s}", :class => 'comment'}
      .comment
        .comment-box
          .border-img.leftside.avatar-box
            = presenter.avatar
          .comment-text
            %cite.comment-author
              = presenter.user_and_time
            %br
            %span.comment-date
              March 18, 2012 at 3:30am
            = presenter.render_comment
          .other_stuff
            = presenter.link_to_edit
            = presenter.link_to_destroy
