- title "Blog for #{@location.name}"

%h2 Blog Entries

= @location.contact_info

%p= @location.id
%h2 Events
%p= link_to "/calendar/all_camp_events/#{@location.id}"


%h2
  Calendar for
  = @location.name

#calendar

