- title "Camp Details"
.full_page
  = image_tag "headerLarge/ropes.jpg"
  %br.clear{style: "height:20px;"}
  %p
    FitWit is a personalized group-training program that has transformed thousands of lives since 2006. We're NOT your
    typical boot camp that runs around the park every day. Instead, we offer unique and measurable workouts instructed
    by expert coaches who care about your progress. Think measurable workouts with loads of variety – kettlebells,
    sandbags, medicine balls and think certified trainers coaching you to your personal greatness!
  %p AND, not only will you GET FIT, you'll also GIVE FIT, so our next generation can LIVE FIT.
.one_third
  .shadow.shadow_medium
    = link_to image_tag("whatsincluded.jpg", :class =>"border-img"), whats_included_path
  %h2
    What's Included
  %p
    Each of our camps runs 4 days per week for 4 weeks offering 16 power-packed workouts.
    The camps run year-round at all of our locations.  New campers can sign up at any time.
    <% link_to "Click here", getting_started_path %> for detailed Getting Started information.

  = link_to image_tag("FitWit_MoreDetails_But.png"), whats_included_path
  %a{:href => "whats_included"}
.one_third
  .shadow.shadow_medium
    = link_to image_tag("price_schedule.jpg", :class =>"border-img"), price_path
  %h2
    Price & Schedule
  %p
    With 3 Atlanta-area locations and 12 classes/day, FitWit offers a variety of options to get started.
  %ul
    %li
      = link_to "Grant Park", "/blogs/4f2fe57599256100010004a9"
    %li
      = link_to "Decatur", "/blogs/4f2fe5f699256100010004ad"
    %li
      = link_to "Midtown", "/blogs/4f3b0bf2d57fe50001000011"
  = link_to image_tag("FitWit_MoreDetails_But.png"), price_path
.one_third.last
  .shadow.shadow_medium
    = link_to image_tag("faq.jpg", :class =>"border-img"), faq_path
  %h2
    FAQ
  %p
    Get answers to your burning questions!
  %ul
    %li
      Do I need to be a runner?
    %li
      Are there indoor options?
    %li
      Is this a cult?
    %li
      Can I join anytime?
    %li
      And more . . .
  = link_to image_tag("FitWit_MoreDetails_But.png"), faq_path