<div id="container">
	<!-- <div class='google-search'> %= insert_google_site_search % </div> -->
	<div id="container_main">
		<!-- google_search div
id="cse" style="display: hidden; background: #fee;"></div -->
		<div class="text-intro" id="intro">
			<h1 id="title">
				Camper Stories
			</h1>
		</div>
		<div class="full_page">
			<%= image_tag "kettleballs.jpg" %>
		</div>
		<div class="full_page">
			<h2 class="red">
				Our Campers' Stories
			</h2>
		</div>
		<div class="one_third">
			<div class="shadow shadow_medium">
				<a href="stories/mike"><%= image_tag "camperstories/CamperStory_Mike.png", class: "border-img" %></a>
			</div>
			<h2>
				Mike
			</h2>
			<p>
				<q>This is my gym</q>
			</p><a href="stories/mike"><span class="dropcap1" style="background-color: #ababab; color: #565656;">&gt;</span> More Details</a>
		</div>
		<div class="one_third">
			<div class="shadow shadow_medium">
				<a href="stories/amanda"><%= image_tag "camperstories/CamperStory_Amanda.png", class: "border-img" %></a>
			</div>
			<h2>
				Amanda
			</h2>
			<p>
				<q>It changed my life!</q>
			</p><a href="stories/amanda"><span class="dropcap1" style="background-color: #ababab; color: #565656;">&gt;</span> More Details</a>
		</div>
		<div class="one_third last">
			<div class="shadow shadow_medium">
				<a href="stories/christina"><%= image_tag "camperstories/CamperStory_Christina.png", class: "border-img" %></a>
			</div>
			<h2>
				Christina
			</h2>
			<p>
				Learned that good fitness is more than running!
			</p><a href="stories/christina"><span class="dropcap1" style="background-color: #ababab; color: #565656;">&gt;</span> More Details</a>
		</div>
		<div class="one_third">
			<div class="shadow shadow_medium">
				<a href="stories/lisa"><%= image_tag "camperstories/CamperStory_Lisa.png", class: "border-img" %></a>
			</div>
			<h2>
				Lisa
			</h2>
			<p>
				Lost 30 pounds!
			</p><a href="stories/lisa"><span class="dropcap1" style="background-color: #ababab; color: #565656;">&gt;</span> More Details</a>
		</div>
		<div class="one_third">
			<div class="shadow shadow_medium">
				<a href="stories/catherine"><%= image_tag "camperstories/CamperStory_Catherine.png", class: "border-img" %></a>
			</div>
			<h2>
				Catherine
			</h2>
			<p>
				25 years and counting!
			</p><a href="stories/catherine"><span class="dropcap1" style="background-color: #ababab; color: #565656;">&gt;</span> More Details</a>
		</div>
		<div class="one_third last">
			<div class="shadow shadow_medium">
				<a href="stories/katherine"><%= image_tag "camperstories/CamperStory_Katherine.png", class: "border-img" %></a>
			</div>
			<h2>
				Katherine
			</h2>
			<p>
				<q>We sweat together, we triumph together.</q>
			</p><a href="stories/katherine"><span class="dropcap1" style="background-color: #ababab; color: #565656;">&gt;</span> More Details</a>
		</div>
		
		<div class="one_third">
			<div class="shadow shadow_medium">
				<a href="stories/brandi"><%= image_tag "camperstories/CamperStory_Brandi.png", class: "border-img" %></a>
			</div>
			<h2>
				Brandi
			</h2>
			<p>
				<q>Improved energy level</q>
			</p><a href="stories/brandi"><span class="dropcap1" style="background-color: #ababab; color: #565656;">&gt;</span> More Details</a>
		</div>
		<div class="one_third">
			<div class="shadow shadow_medium">
				<a href="stories/mary"><%= image_tag "camperstories/CamperStory_Mary.png", class: "border-img" %></a>
			</div>
			<h2>
				Mary
			</h2>
			<p>
				<q>Encouraging Trainers</q>
			</p><a href="stories/mary"><span class="dropcap1" style="background-color: #ababab; color: #565656;">&gt;</span> More Details</a>
		</div>
		<div class="one_third last">
			<div class="shadow shadow_medium">
				<a href="stories/greg"><%= image_tag "camperstories/CamperStory_Greg.png", class: "border-img" %></a>
			</div>
			<h2>
				Greg
			</h2>
			<p>
				<q>I can chase my 2 young kids!</q>
			</p><a href="stories/greg"><span class="dropcap1" style="background-color: #ababab; color: #565656;">&gt;</span> More Details</a>
		</div>
		<div class="one_third">
			<div class="shadow shadow_medium">
				<a href="stories/jose"><%= image_tag "camperstories/CamperStory_Jose.png", class: "border-img" %></a>
			</div>
			<h2>
				Jose
			</h2>
			<p>
				<q>My clothes fit better. I feel better.</q>
			</p><a href="stories/jose"><span class="dropcap1" style="background-color: #ababab; color: #565656;">&gt;</span> More Details</a>
		</div>
		<div class="one_third">
			<div class="shadow shadow_medium">
				<a href="stories/denise"><%= image_tag "camperstories/CamperStory_Denise.png", class: "border-img" %></a>
			</div>
			<h2>
				Denise
			</h2>
			<p>
				<q>No more HUGE butt!</q>
			</p><a href="stories/denise"><span class="dropcap1" style="background-color: #ababab; color: #565656;">&gt;</span> More Details</a>
		</div>
		<div style="clear:both;"></div>
	</div>
</div>
