%ul.tabs
  %li.current
    %a#the_camp_blog.tab{href: "#"}
      = @location.name
      Blog
  %li
    %a#the_camp_calendar.tab{href: "#"}
      = @location.name
      Event Calendar

#the_camp_blog.tab_content
  - if @blog.pages.any?
    - content_for :right_column do
      %div{class: 'widgets subpages-widget'}
        - for page in @blog.pages.where(is_draft: draft_mode)
          = render :partial => 'pages/page_intro', :locals => { :page => page }
          %p.content_seperator

  .left_column
    = render :partial => 'blogs/blog', :locals => { :blog => @blog}

    - render_pagination_box @postings

    #postings{ style: 'clear: right;'}
      - @postings.each do |posting|
        = posting.title
        = render :partial => 'postings/posting', :locals => { :posting => posting, :blog => @blog }
      = render :partial => 'home/load_more', :locals => { :resources => @postings, :path => blog_path(@blog) }

    - render_pagination_box @postings

    .clear
  .clear
#the_camp_calendar.tab_content
  %h2
    Calendar for
    = @location.name

  #calendar

  %p Data From
  %p= link_to "/calendar/all_camp_events/#{@location.id}"
%br.clear/