- title link_to(@blog.title, @blog)

- content_for :resource_actions do
  = ui_button 'back', t(:blog_index), blogs_path
  = ui_button('add', t(:create_new_posting), new_blog_posting_path(@blog) ) if can? :create, Posting
  = link_to @blog.title + " events", location_calendar_path(@location.id)
  = link_to "FitWitCalendar", calendar_fit_wit_calendar_path

%div
  - content_for :right_column do
    = render :partial => 'blogs/camp_blog', :locals => { :blog => @blog}
    #blog_events
      .blog_calendar{id: @location.id}
      #describer_of_event.info_box.info_box_1.rounded{style: "width:100%; background: #eee;"}
        #event_title.title_box{style: "background-color: #ccc; font-size:17px; margin-top:10px; height:25px;"}
        .content_box{id: "description_#{@location.id}"}
    - if @blog.pages.any?
      %div{class: 'widgets subpages-widget'}
        - for page in @blog.pages.where(is_draft: draft_mode)
          = render :partial => 'pages/page_intro', :locals => { :page => page }
          %p.content_separator

  .left_column

    - render_pagination_box @postings

    #postings{ style: 'clear: right;'}
      - @postings.each do |posting|
        = render :partial => 'postings/posting', :locals => { :posting => posting, :blog => @blog }
      = render :partial => 'home/load_more', :locals => { :resources => @postings, :path => blog_path(@blog) }

    - render_pagination_box @postings

    .clear
  .clear