- title "Locations"

.full_page
  %h2 How to find us
  = image_tag("CampDetails_Locations.png") 

- @locations.each do |loc|
  .one_third{class: loc == @locations.last ? "last" : ""}
    .shadow.shadow_medium
      %a{:href => "whats_included"}
      .location_map{id: "location_#{loc.id}", data: {lat: loc.lat, lng: loc.lon}}
    %h2= loc.name
    %p= loc.description.html_safe
%br.clear/
- @locations.each do |loc|
  .one_third{class: loc == @locations.last ? "last" : ""}
    %h2 Contact
    %p= loc.contact_info.html_safe
    %h2
    %p
      = loc.street_address
      %br
      ="#{loc.city}, #{loc.us_state} #{loc.zip}"
%br.clear/
