<div id="container">
	<!--
		<div class='google-search'>
		   %= insert_google_site_search %
		</div>
		-->
	<div id="container_main">
		<!-- google_search div id="cse" style="display: hidden; background: #fee;"></div -->
		<div class="text-intro" id="intro">
			<h1 id="title">
				Non Profit
			</h1>
		</div>
		<div class="full_page">
			<h2>
				The FitWit Foundation
			</h2><%= image_tag "kidsmuscles.jpg" %>
		</div>
		<div class="full_page">
			<h3>
				Our Mission
			</h3>
			<p>
				The mission of the FitWit Foundation is to empower young people to live healthy and successful lives.
			</p>
		</div>
		<div class="one_third">
			<div class="shadow shadow_medium">
				<a href="#"><%= image_tag("left.jpg", :class =>"border-img") %></a>
			</div>
		</div>
		<div class="one_third">
			<div class="shadow shadow_medium">
				<a href="#"><%= image_tag("center.jpg", :class =>"border-img") %></a>
			</div>
		</div>
		<div class="one_third last">
			<div class="shadow shadow_medium">
				<a href="#"><%= image_tag("right.jpg", :class =>"border-img") %></a>
			</div>
		</div>
		<div style="clear:both;"></div>
		<div class="full_page">
			<h3>
				Our Story
			</h3>
			<p>
				In 2005, husband and wife team Josh and Erin Guerrieri both taight and coached in inner-city Atlanta Public Schools. They saw they need for quality fitness and tutoring programs for the students they served. The combination of these two programs — personal fitness training (Fit) and academic tutoring (Wit) — proved to be an effective blend in addressing a traditionally underserved student population.
			</p>
			<p>
				While FitWit launched new programs for students, it also began molding its defining program, the adult fitness camp. These early fitness camps evolved into what is now the ground-breaking FitWit training program; devoted to challenging fitness across all elements while tracking performance and building community within the participants.
			</p>
			<p>
				As FitWit grew, Josh and Erin wanted very much to remain true to their original vision of helping underserved students to be healthy and successful. To that end, in 2008, with the help of friend and former teammate Ben Thoele, they created the FitWit Foundation; a 501(c)(3) non-profit corporation in Atlanta, Georgia.
			</p><%= link_to "Meet Our People", base_team_url %></a>
		</div>
		<div style="clear:both;"></div>
	</div>
</div>
