<% title "Price &amp; Schedule" %>

<p>Each of our camps runs 4 days per week for 4 weeks offering 16 power-packed workouts.
  The camps run year-round at all of our locations.
  New campers can sign up at any time.
  <%= link_to "Click here", getting_started_path %> for detailed "Getting Started" information.</p>
<br class="clear">
<div class="one_half">
  <h2>It’s easy to get started:</h2>

  <div class="one_half"><span class="dropcap2">1</span> Want to try us out? Call/email
    (888-534-8948/<a href="mailto:info@fitwit.com">info@fitwit.com</a>) to join us for a free workout anytime.
  </div>
  <br class="clear">

  <div class="one_half"><span class="dropcap2">2</span> Is this a right fit for you? Call/email
    (888-534-8948/<a href="mailto:info@fitwit.com">info@fitwit.com</a>) to set up a free fitness consultation.
  </div>
  <br class="clear">

  <div class="one_half"><span class="dropcap2">3</span>
    Ready to change your
    life?   <%= link_to "Register for your first camp", fitness_camp_registration_all_fitness_camps_path %> or call us
    to discuss our membership programs. Nearly 80% of FitWitters are enrolled as FitWit Club Members. We have a variety
    of membership options to match your motivation and schedule with prices ranging from $135 to $205 per month. We also
    offer discounts for couples, teachers, students, military, law enforcement and first-responders. Contact us now
    at <%= link_to "888-534-8948", "tel:888-534-8948" %> or <%= link_to "info@fitwit.com", "mailto:info@fitwit.com" %>.
  </div>
</div>

<div class="one_half last">
  <h2>Individual Camp Pricing:</h2>

  <p>4-week camp - $229</p>

  <p>Veteran Camper - $199</p>

  <p style="padding-bottom: 20px;">We also offer 3 additional Saturday morning workouts each month.</p>

  <%= render partial: "shared/offer", locals: {width: "380px"} %>


</div>

<br class="clear">


<h2>FitWit Camp Schedule 2012</h2>

<table class="table">
  <thead>
    <tr><th>FitWit Camp Schedule 2012</th><th>Start Date</th><th>End Date</th><th>Notes</th></tr>
  </thead>
  <tr><td>Camp 3</td><td>4/2/2012</td><td>4/27/2012</td><td>&nbsp;</td></tr>
  <tr><td>Camp 4</td><td>4/30/2012</td><td>5/25/2012</td><td>&nbsp;</td></tr>
  <tr><td>Camp 5</td><td>5/28/2012</td><td>6/22/2012</td><td>&nbsp;</td></tr>
  <tr><td>Camp 6</td><td>6/25/2012</td><td>7/20/2012</td><td>&nbsp;</td></tr>
  <tr><td>Summer Break</td><td>7/23/2012</td><td>7/29/2012</td><td>No Camp</td></tr>
  <tr><td>Camp 7</td><td>7/30/2012</td><td>8/24/2012</td><td>&nbsp;</td></tr>
  <tr><td>Camp 8</td><td>8/27/2012</td><td>9/21/2012</td><td>&nbsp;</td></tr>
  <tr><td>Camp 9</td><td>9/24/2012</td><td>10/19/2012</td><td>&nbsp;</td></tr>
  <tr><td>Camp 10</td><td>10/22/2012</td><td>11/16/2012</td><td>&nbsp;</td></tr>
  <tr><td>The FitWit Foundation Fundraiser Camp</td><td>11/18/2012</td><td>11/20/2012</td><td>Thanksgiving Week</td></tr>
  <tr><td>Camp 11</td><td>11/26/2012</td><td>12/21/2012</td><td>&nbsp;</td></tr>
</table>

<h2> Location Times</h2>

<div class="table-border" style="padding: 0 20px;">
  <table class="table">
    <thead>
    <tr>
      <th>Grant Park</th>
      <th>Decatur</th>
      <th>Midtown</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>6:00 - 7:00 AM</td>
      <td>6:00 - 7:00 AM</td>
      <td>6:00 - 7:00 AM</td>
    </tr>
    <tr>
      <td>7:00 - 8:00 AM</td>
      <td>7:00 - 8:00 AM</td>
      <td>7:00 - 8:00 AM</td>
    </tr>
    <tr>
      <td>9:30 - 10:30 AM</td>
      <td>9:00 - 10:00 AM</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>6:00 - 7:00 PM</td>
      <td>6:15 - 7:15 PM</td>
      <td>6:00 - 7:00 PM</td>
    </tr>
    <tr>
      <td>7:00 - 8:00 PM</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    </tbody>
  </table>
</div>