- title "Index for #{controller_name.titleize}"

%table
  %tr
    %th Meeting date
    %th
    %th
    %th

  - @meetings.each do |meeting|
    %tr
      %td= meeting.meeting_date.strftime('%A, %d %B') unless meeting.meeting_date.nil?
      %td= link_to 'Show', time_slot_meeting_path(@time_slot.id, meeting.id)
      %td= link_to 'Edit', edit_time_slot_meeting_path(@time_slot.id,meeting.id)
      %td= link_to 'Destroy', time_slot_meeting_path(@time_slot.id, meeting.id), :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Meeting', new_time_slot_meeting_path(@time_slot.id)
