- present cart_item do |cart_item_presenter|
  .info_box.info_box1.rounded
    .title_box{style: "background-color: white; border:1px solid #cfcfcf;"}
      %h4{style: "color:black;"}= cart_item.title_with_camp_dates
    #price_info
      - if @cart.new_membership
        = render "#{p}membership_price_screen"
      - else # they are signing up for a camp
        - case @user.veteran_status
          - when :vet
            = cart_item_presenter.show_vet_options
          - when :supervet
            = cart_item_presenter.show_supervet_options
          - when :newbie # no pay by session option
            = cart_item_presenter.show_newbie_options(@user)
          - otherwise
            You must be staff
        = cart_item_presenter.show_summary_table(@user)