<% if @vet_status == :vet %><!-- # not a super vet -->
   <div class="financial_info">
     You can save more by bringing friends who are new to
     FitWit, $25 for each new friend you refer for up to six
     friends.
     <%= display_chance_to_toggle_session(cart.pay_by_session,item_count) %>
   </div>
   <%= display_standard_price.html_safe %>
   <span class="price_desc">
     Your <%= what_kind_of_vet(@vet_status) %> status discount
   </span>
   <span class="price">
     <%= vet_savings(@vet_status) %>
   </span>
   <%= render :partial => 'friends_form',
   :locals => {:cart_item_includes => cart,
   :cart_item_count => item_count,
   :vet_status => @vet_status} %>
<% else %> <!-- # we have a super vet -->
   <div class="financial_info">
     Congrats on your super-vet status and your discount for the entire camp.
     <%= display_chance_to_toggle_session(cart.pay_by_session,item_count) %>
   </div>
   <%= display_standard_price %>
   <span class="price_desc">
     Your <%= what_kind_of_vet(@vet_status) %> status discount
   </span>
   <span class="price">
     <%= vet_savings(@vet_status) %>
   </span>
<% end %>
