%h4 Workouts
- if @meeting.camp_workouts.size == 0
  There have been no workouts yet for this meeting
- else
  - @meeting.camp_workouts.each do |cwo|
    %h2
      = cwo.fit_wit_workout.name.titleize
      Results
    %table.table.table-striped{:style => "width:400px;"}
      - cwo.workouts.each do |workout|
        %tr
          %td
            = "#{workout.user.short_name}."
          %td= workout.score
          %td{:cellpadding => "10px"}= workout.user_note