- content_for :header do
  %h1= "Meetings for #{@time_slot.short_title}"

%ul.tabs
  %li.active= link_to "Index", "#"
  %li= link_to "New", new_resource_path

%table.zebra-striped
  %thead
    %tr
      %th Meeting Date
      %th Attendees
      %th
  %tbody#meeting_list
    = render "index_table"

%h4 Add Meetings

= form_tag backend_add_meetings_path(@time_slot.id), remote: true do
  %fieldset
    = hidden_field_tag "meeting_dates"
    #multiple_date_select
  .actions
    = submit_tag "Apply to this time slot", class: "btn primary"
    = submit_tag "Apply to all time slots", class: "btn"



