!!! 5
%html
  %head
    %title FitWit Admin
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}
    %meta{:content => "NONE,NOARCHIVE", :name => "robots"}
    = csrf_meta_tag
    = stylesheet_link_tag "backend/backend"
    - if @calendar
      = javascript_include_tag "calendar_scripts"
    - else
      = javascript_include_tag "backend"
    = javascript_include_tag "http://maps.googleapis.com/maps/api/js?sensor=false"
    = csrf_meta_tag
  %body.rails_admin{style: 'padding-top: 60px;'}
    .navbar.navbar-fixed-top
      .navbar-inner
        .container-fluid
          = link_to "FitWit Admin Site", backend_root_path, :class => "brand"
          .nav-collapse
            %ul.nav.pull-right
              %li= link_to "Locations", backend_locations_path
              %li= link_to "Reports", backend_reports_path
              %li= link_to "News", backend_news_items_path
              %li= link_to "Med Conditions", backend_medical_conditions_path
              %li= link_to "Sponsors", backend_sponsors_path
              %li= link_to "FW Workouts", backend_fit_wit_workouts_path
              %li= link_to "Offers", backend_offers_path
              %li= link_to "Coupons", backend_coupon_codes_path
              %li= link_to "Users", backend_users_path
              %li
                %span.label= link_to "main", root_path
    .container-fluid
      .row-fluid
        .span3
          .well.sidebar-nav
            = yield :sidebar
            .block.notice
              %h4 Manage Camps
              %ul
                - FitnessCamp.upcoming_and_current.each do |fc|
                  %li
                    = link_to fc.title, backend_location_fitness_camp_path(fc.location.id, fc.id)
                    %ul
                      - fc.time_slots.all.each do |ts|
                        %li= link_to ts.start_time_f, backend_location_fitness_camp_time_slot_path(fc.location.id, fc.id, ts.id)
            .block.notice
              %h4 Manage Events
              %ul
                - Location.all.each do |loc|
                  %li= link_to loc.name, backend_location_events_path(loc.id)
        .span9
          .row-fluid
            .content
              .page-header{style: "margin-top:0;"}
                = yield :header
              - flash && flash.each do |key, value|
                .alert.fade.in{:class => "alert-#{key}"}
                  %a.close{:href => '#', "data-dismiss" => "alert"}×
                  %p= value
              %span.row
              = yield
              %footer
                %p &copy; FitWit 2012