!!!
%html
  %head
    %title Simple Backend Example
    = stylesheet_link_tag "backend/backend"
    = javascript_include_tag "backend"
    = javascript_include_tag "http://maps.googleapis.com/maps/api/js?sensor=false"
    = javascript_include_tag "backend/application"
    =# javascript_include_tag "http://ajax.aspnetcdn.com/ajax/jquery.validate/1.9/jquery.validate.min.js"
    = csrf_meta_tag
  %body
    .topbar
      .fill
        .container
          = link_to "FitWit Admin Site", backend_root_path, :class => "brand"
          %ul.nav
            %li.active= link_to "Home", "#"
            %li= link_to "Locations", backend_locations_path
            %li= link_to "Friends", backend_friends_path
            %li= link_to "News Items", backend_news_items_path
            %li= link_to "Sponsors", backend_sponsors_path
            %li= link_to "Workouts", backend_workouts_path
            %li= link_to "FitWit Workouts", backend_fit_wit_workouts_path

    .container
      .content
        .page-header
          = yield :header
        #top_row.row
          - if flash[:alert]
            .alert-message.error
              %p= flash[:alert]
          #javascript_top_row{style: "display:none;"}
          - if flash[:notice]
            .alert-message.info
              %p= flash[:notice]
          .span10
            = yield
          .span4
            = yield :sidebar
            .block.notice
              %h4 Manage Camps
              %ul
                - FitnessCamp.all.each do |fc|
                  %li
                    = link_to fc.title, backend_location_fitness_camp_path(fc.location.id, fc.id)
                    %ul
                      - fc.time_slots.all.each do |ts|
                        %li= link_to ts.start_time_f, backend_location_fitness_camp_time_slot_path(fc.location.id, fc.id, ts.id)

      %footer
        %p Copyright &copy; #{Time.now.year} Tim Booher.
