= form_for [@location, @fitness_camp] do |f|
  -if @fitness_camp.errors.any?
    #error_explanation
      %h2= "#{pluralize(@fitness_camp.errors.count, "error")} prohibited this fitness_camp from being saved:"
      %ul
        - @fitness_camp.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :session_start_date
    = f.date_select :session_start_date
  .field
    = f.label :session_end_date
    = f.date_select :session_end_date
  .field
    = f.label :session_active
    = f.check_box :session_active
  .field
    = f.label :description
    = f.text_field :description
  .actions
    = f.submit 'Save'
