- title "View Cart: Registration Step 2 of 6"

- content_for :right_column do
  = render(:partial => "cart", :object => @cart)

#vet_status_changer
  = render :partial => "my_fit_wit/includes/fit_wit_history"

/ they either have a new membership or not
- unless @cart.new_membership
  %div{:style => "width:550px;"}
    = render(:partial => "fitness_camp_registration/cart_includes/show_vet_info")
  %h3 You are registering for the following fitness camps:
- else
  = render(:partial => "fitness_camp_registration/cart_includes/show_membership_info")
  %p
    In addition to your new membership, you are registering for the
    following classes:

/ time to display the camps they signed up for
= form_tag :action => 'add_discounts' do
  %dl
    = render(:partial => "fitness_camp_registration/cart_includes/cart_item", :collection => @cart.items)
  / if all pay_by_sessions are ready
  = submit_tag 'Proceed to health consent', :class => 'small-btn glass-b'