<% if false # defined?(ENV['OMNIAUTH_GOOGLE_KEY']) %>
    <a href="/auth/google_apps" class="auth_provider">
      <%= image_tag "google_sixtyfour.png", :size => "64x64", :alt => "Twitter" %>
      Google
    </a>
<% end %>

<% if false # defined?(ENV['OMNIAUTH_TWITTER_CONSUMER_KEY']) %>
  <a href="/auth/twitter" class="auth_provider">
    <%= image_tag "twitter_sixtyfour.png", :size => "64x64", :alt => "Twitter" %>
    Twitter
  </a>
<% end %>

<% if defined?(ENV['OMNIAUTH_FACEBOOK_ID']) %>
  <a href="/auth/facebook" class="auth_provider">
    <%= image_tag "facebook_sixtyfour.png", :size => "64x64", :alt => "Facebook" %>
    Facebook
  </a>
<% end %>

<% if defined?(ENV['OMNIAUTH_GITHUB_ID']) %>
  <a href="/auth/github" class="auth_provider">
    <%= image_tag "github_sixtyfour.png", :size => "64x64", :alt => "Github" %>
    Github
  </a>
<% end %>

<% if false %>
<a href="/auth/open_id" class="auth_provider">
  <%= image_tag "openid_sixtyfour.png", :size => "64x64", :alt => "OpenID" %>
  OpenID
</a>
<% end %>




<div class="clear"></div>
