- title "Update Authentication"

- content_for :resource_actions do
  = render "shared/user_update_nav"

= simple_form_for @user, url: users_update_password_path, html: { class: 'form-horizontal' } do |f|
  - if @user.authentications.empty?
    = f.input :password, as: :password
    = f.input :password_confirmation, as: :password
  %div{style: "margin-left:140px;"}
    %h2= t(:or_user_omni_auth)
    = render '/authentications/authentications'
    %h3= t(:your_associated_accounts)
    - if @user.authentications.empty?
      = t(:you_have_no_authentications_yet)
    - else
      - for a in @user.authentications
        = render(:partial => '/authentications/authentication', :locals => {:authentication => a})
      .clear
        = link_button( t(:edit_authentication_providers),"button edit small", authentications_path(@user) )
    .clear
    .form-actions
      = f.button :submit, class: "btn-primary"