- title "Contact Information"

= simple_form_for @user, :html => { :class => 'form-horizontal' } do |f|
  %fieldset
    = f.input :t_shirt_size, collection: User::TSHIRT_SIZES
    = f.input :height_inches, collection: 0..12
    = f.input :height_feet, collection: 4..7
    = f.input :fitness_level, collection: 1..10, hint: "10 is best", include_blank: true
  -#   field :street_address1, type: String
  -#field :street_address2, type: String
  -#field :city, type: String
  -#field :us_state, type: String
  -#field :zip, type: String
  -#field :primary_phone, type: String
  -#field :secondary_phone, type: String
  -#field :emergency_contact_name, type: String
  -#field :emergency_contact_relationship, type: String

  .form-actions
    f.button :submit, class: 'btn-primary'