- title "Contact Information"

- content_for :resource_actions do
  = render "shared/user_update_nav"

= simple_form_for @user, :url => update_user_profile_url, :html => { :class => 'form-horizontal' } do |f|
  %fieldset
    = f.input :street_address1, type: String
    = f.input :street_address2, type: String
    = f.input :city, type: String
    = f.input :us_state, type: String
    = f.input :zip, type: String
    = f.input :primary_phone, type: String
    = f.input :secondary_phone, type: String
    = f.input :emergency_contact_name, type: String
    = f.input :emergency_contact_relationship, type: String
    = f.input :emergency_contact_phone, type: String

  .form-actions
    = f.button :submit, class: 'btn-primary'