- title "Public Profile for #{@user.name}"

- content_for :resource_actions do
    = ui_button 'expand', t(:list_registrations), registrations_path
    - if current_user && @user == current_user # It's you
        = ui_button( 'edit', (t(:edit_profile) + sc(:nbsp,:pr,:nbsp) + t(:you)).html_safe, edit_registration_path(@user)) 
        = ui_button( 'groups', t(:your_groups), user_user_groups_path(@user))
        
- if @user.avatar
    %div=  link_to_function(image_tag( w3c_url(@user.avatar_url(:thumb)), :class => "img-with-shadow" ), "image_popup('#{w3c_url(@user.avatar_url(:popup))}')")


%div{:style => 'clear: right; margin-top: 10px;'}

    - if current_user.gis_location_token
        %div{:id => 'users-gis_location-map'}

    %p 
        User: 
        %b= @user.name + ", " + @user.email

    - unless @user.why_i_fitwit.blank?
        %h3 Why I FitWit:
        %p
            = @user.why_i_fitwit

    %h3
        Camps
        - unless @user.all_fitness_camps.empty?
            %ul
            - @user.all_fitness_camps.each do |fc|
                %li
                    = fc.full_title


- if user_signed_in? && @user == current_user
    - if current_user && current_user.gis_location[:lat].present? && current_user.gis_location[:lng].present?
        %p
            = t(:your_gis_location)+": "
            %span{:id => 'user_gis_location_token'}= current_user.gis_location_token
                
    - content_for :resource_actions do
        = ui_button 'mail', t(:send_invitaiton), new_user_invitation_path(current_user), :id => 'invitation_link'
      
- else
    - if @user.gis_location[:lat].present? && @user.gis_location[:lng].present?
        = t(:gis_location)+": "
        %span{:id => 'user_gis_location_token'}= @user.gis_location_token
        %br
        
- if current_user.role?(:maintainer)
    %h3{:style=>'clear: both'} Details
    %ul
        = render 'user_detail', :user => @user

- content_for :resource_actions do
    %p{style: 'margin-bottom: 20px;'}= "" # make sure some gap
