/ REVIEW: Should this view be splitted up in partials?
- title t("edit_resource_named", :resource => resource_name.to_s.humanize,:name => @user.name||'new')
.clear

- content_for :resource_actions do
  = ui_button 'expand', t(:list_registrations), registrations_path
  - if current_user && @user == current_user # It's you
    = ui_button( 'zoom', t(:show_profile), user_path(@user))

= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :multipart => true }) do |f|

  = devise_error_messages!
  %ul.tabs#user_basics
    %li.current
      %a.tab{href: '#'} Basics
    %li.current
      %a.tab{href: '#'} Avatar
    %li.current
      %a.tab{href: '#'} Authentication
    %li.current
      %a.tab{href: '#'} Location
  .tab_content
    = f.input :first_name
    = f.input :last_name
    = f.input :email
    = f.input :location_id
    = f.input :occupation
    = f.input :company
    = f.input :date_of_birth
    = f.input :gender
  .tab_content{style: "position: absolute; left: -10000px;"}
    .form_content{style: "padding-left:200px;"}
      - if @user.avatar
        = image_tag @user.avatar_url(:thumb)
    .clear
    = f.input :avatar, as: :file
    = f.input :clear_avatar, as: :boolean
    = f.input :use_gravatar, as: :boolean
    = link_button 'Gravatar?', "button link tiny", "http://gravatar.com", :target => :blank
    %small= @user.email.downcase
  .tab_content{style: "position: absolute; left: -10000px;"}
    - if @user.authentications.empty?
      %h2 Password
      = f.input :password, as: :password
      %address
        %i (leave blank if you don't want to change it)
      = f.input :password_confirmation, as: :password
    %h2= t(:or_user_omni_auth)
    = render '/authentications/authentications'
    %h3= t(:your_associated_accounts)
    - if @user.authentications.empty?
      = t(:you_have_no_authentications_yet)
    - else
      - for a in @user.authentications
        = render(:partial => '/authentications/authentication', :locals => {:authentication => a})
      .clear
        = link_button( t(:edit_authentication_providers),"button edit small", authentications_path(@user) )
    .clear
  .tab_content{style: "position: absolute; left: -10000px;"}
    #gis_location-preview
    = f.input :gis_location_token
    = text_field_tag "address"


  / ----------------- FINAL SUBMIT
  - if @user.authentications.empty?
    = f.input :current_password, as: :password
    %address
      %i (we need your current password to confirm your changes)
  = f.submit "Update", :class => "medium-btn glass-btn"

.field
  = label_tag :unhappy?
  = link_to t(:cancel_my_account), registration_path(resource_name), :confirm => t(:sure?), :method => :delete, :class => "button delete small"
- content_for :resource_actions do
  = ui_button( 'back', t(:back), :back)