/ REVIEW: Should this view be splitted up in partials?
- title "Edit your FitWit Profile"

- content_for :resource_actions do
  = render "shared/user_update_nav"
  = ui_button 'expand', t(:list_registrations), registrations_path
  - if current_user && @user == current_user # It's you
    = ui_button( 'zoom', t(:show_profile), user_path(@user))
  = ui_button( 'back', t(:back), :back)

= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :multipart => true, :class => 'form-horizontal' }) do |f|
  = devise_error_messages!
  %ul.tabs#user_basics{style: "margin:0px;"}
    %li.current
      %a.tab{href: '#'} Basics
    %li
      %a.tab{href: '#'} Avatar
    %li
      %a.tab{href: '#'} Location
  .tab_content
    = f.input :first_name
    = f.input :last_name
    = f.input :email, as: :email, :placeholder => 'user@domain.com'
    = f.input :occupation
    = f.input :company
    = f.input :date_of_birth, as: :date, :as => :date, :start_year => Date.today.year - 90, :end_year => Date.today.year - 12, hint: "Year is not made public"
    = f.input :gender, collection: [:male, :female], include_blank: false
    = f.input :why_i_fitwit, as: :text, :input_html => { rows: 3 }, label: "Why I FitWit"
    = f.input :when_started_fitwit, :input_html => { class: 'datepicker' }, label: "FitWit'ing since"

  .tab_content{style: "position: absolute; left: -10000px;"}
    - if @user.avatar
      = image_tag @user.avatar_url(:thumb)
    = f.input :avatar, as: :file
    = f.input :clear_avatar, as: :boolean
    = f.input :use_gravatar, label: "User Gravatar for #{@user.email.downcase}", as: :boolean, hint: link_button("&nbsp; What is Gravatar?".html_safe, "button link tiny", "http://gravatar.com", :target => :blank)
  .tab_content
    #map_well{style: "padding:20px; margin-left:160px;"}
      #gis_location-preview &nbsp;
    = f.input :gis_location_token, label: "Your GPS coordinates"
    .control-group
      %label.control-label{:for => "address"} Address
      .controls
        .input-prepend
          = text_field_tag "address", "", placeholder: "Start typing your address"
        %p.help-block Just get close if you don't want your exact location to show

  .form-actions
    = f.button :submit, class: 'btn-primary'
