<% title t(:sign_up) %>

<% invited? %>
<div class="one_third">
  <h3>cool quote about taking some steps . . .</h3>

  <p>Cool picture here. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.<br>
    Duis autem vel eum iriure dolor in hendrerit.</p>
</div>
<div class="two_third last">
  <div class="wpcf7">
    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>

        <% if resource.invitation %>
            <h3>
              <%= t(:you_are_invited_by, :name => resource.invitation.user.name) %>
            </h3>

            <p>
              <%= sanitize(resource.invitation.message||"") %>
               <ul>
                 <li><%= resource.invitation.user.name %> &lt;<%= resource.invitation.user.email -%>&gt;</li>
               </ul>
            </p>
            <%= f.hidden_field :invitation_id %>
        <% end %>

        <p>
          <%= f.label :name %>
          <span class='wpcf7-form-control-wrap'>
            <%= f.text_field :name, class: 'wpcf7-text' %>
          </span>
        </p>

        <p>
          <%= f.label :email %>
          <span class='wpcf7-form-control-wrap'>
            <%= f.text_field :email, class: 'wpcf7-text' %>
          </span>
        </p>

        <p>
          <%= f.label :password %>
          <span class='wpcf7-form-control-wrap'>
            <%= f.password_field :password, class: 'wpcf7-text' %>
          </span>
        </p>

        <p>
          <%= f.label :password_confirmation %>
          <span class='wpcf7-form-control-wrap'>
            <%= f.password_field :password_confirmation, class: 'wpcf7-text' %>
          </span>
        </p>

        <p>
          <%= f.submit t(:sign_up), :class => "button save wpcf7-submit" %>
        </p>
    <% end %>
  </div>
  <!-- wpcf7 -->
  <h3><%= t(:or_user_omni_auth) -%></h3>

  <%= render '/authentications/authentications' %>

  <h3><%= t(:links) %></h3>

  <%= render :partial => "devise/shared/links" %>
</div>

