<%= simple_form_for([blog, posting], html: {multipart: true, class: 'form-horizontal'}) do |f| %>

    <%= errors_for(posting) %>

    <!-- FIELDS ===================================== -->
    <%= f.input :title %>

    <% if posting.cover_picture_exists? %>
        <div class='posting_cover_picture_box'>
            <%= render(
                        :partial => 'cover_picture',
                        :locals => {:posting => posting, :format => :thumb}
                )
            -%>
            <%= link_to("Delete Picture", delete_cover_picture_blog_posting_path(posting.blog.id, posting.id), class: "btn btn-small btn-danger", remote: true, confirm: "Are you sure?", id: 'delete_cover_picture_link') unless blog.new_record? %>
        </div>
    <% end %>
    <%= f.input :cover_picture, as: :file %>

    <div class="clear"></div>

    <%= f.input :tags, data_pre: posting.tags_array.map { |t| {id: t, name: t} }.to_json  %>

    <%= f.input :new_tag, placeholder: t(:enter_new_tag) %>

    <% if current_user %>
        <%= f.input :recipient_tokens, label: t(:recipients), placeholder: t(:leave_empty_to_make_the_posting_public), data_pre: current_user.user_groups.any_in(_id: posting.recipient_group_ids).map { |t| {id: t.id, name: t.name} }.to_json %>
    <% end %>

    <%= f.input :interpreter, collection: [['Markdown', :markdown], ['Textile', :textile], [t(:none), :none]], hint: render(:partial => '/home/interpreter_help') %>

    <%= f.input :body, as: :text, input_html: {rows: 10, style: "width:400px;"} %>

    <!-- ATTACHMENTS ================================ -->
    <div style='margin-left:160px'>
      <label for="attachments">Attachments</label>

      <div class="widgets old_block">
        <%= f.fields_for :attachments do |builder| %>
            <%= render '/attachments/attachment_fields', :f => builder %>
        <% end %>
        <div id='new_asset'></div>
        <p>
          <%= link_to_add_fields(t(:new_attachment).html_safe, f, :attachments) %>
        </p>
      </div>
    </div>

    <div class='before_save_button'></div>
    <div class='clear'></div>

    <%= f.input :is_draft, as: :boolean %>

    <div class='control-group'>
      <%= f.label :publish_at -%>
      <div class="controls">
      <%= f.text_field :publish_at_date, :size => 10, style: 'width: 100px', :placeholder => 'yy-mm-dd' -%>
      <%= f.text_field :publish_at_time, :size => 5, style: 'width: 100px', :placeholder => 'hh.mm' -%>
        </div>
    </div>

    <div class='control-group'>
      <%= f.label :expire_at -%>
      <div class="controls">
      <%= f.text_field :expire_at_date, :size => 10, style: 'width: 100px', :placeholder => 'yy-mm-dd' -%>
      <%= f.text_field :expire_at_time, :size => 5, style: 'width: 100px', :placeholder => 'hh.mm' -%>
      </div>
    </div>

    <div class="form-actions">
      <%= f.button :submit, class: "btn-primary" %>
    </div>

<% end %>
