- interpret posting do |presenter|
  %div{:style=>'clear: right;',:id => 'posting', :class => "#{posting.css_class} post"}
    - if can? :edit, posting
      = presenter.edit_buttons
    .meta-date
      %span.meta-month= posting.created_at.strftime('%b')
      %span.meta-day= posting.created_at.strftime('%d')
      %span.meta-year= posting.created_at.strftime('%Y')
      .meta-comments
        %a
          %span= posting.comments.count
    %h2.blog-header
      = presenter.title
    .meta.posted-meta
      by
      = posting.user.name
    .meta.tags-meta
      = presenter.tags_info
    %br.clear
      - if posting.cover_picture_exists?
        %div.shadow.shadow_large.aligncenter.shadow_center{id: "posting_cover_picture_#{posting.id}"}
          = link_to_function( image_tag( w3c_url(posting.cover_picture.url(:post_style) ), :class => "border-img"), "image_popup('#{w3c_url(posting.cover_picture.url(:popup))}')")

      =# presenter.cover_picture('shadow shadow_huge aligncenter shadow_center',:post_style)
      - unless params[:controller] == 'postings' && params[:action] == 'show'
        %p
          = presenter.simple_intro
        %p.more
          = presenter.simple_read_more
      - else
        = presenter.user_time_and_blog
        - if can? :edit, posting
          = ui_button 'edit', t(:edit), edit_blog_posting_path(posting.blog, posting)
        - if can? :manage, posting
          = ui_button 'delete', t(:delete), blog_posting_path(posting.blog, posting), method: :delete, confirm: "Are you sure?"
        = presenter.body
        .shr_class.shareaholic-show-on-load
        = presenter.comments

= javascript_tag "$('#posting_#{posting.id.to_s}').hide()"
