- title "FitWit Activity Feed"

- content_for :right_column do
  %h3 Blogs
  #blog_page_menu.widgets
    %ul
      %li= link_to "FitWit Nation", "/blogs/4f2d7d558a3c010001000001"
      %li= link_to "Eat Fit", "/blogs/4f44dd3b3116320001000006"
      %li= link_to "Grant Park Workouts", "/blogs/4f2fe57599256100010004a9"
      %li= link_to "MidTown Workouts", "/blogs/4f4fc97469da250001000b09"
      %li= link_to "Decatur Workouts", "/blogs/4f2fe5f699256100010004ad"
      =# link_to "FitWit Strength", ""
  %h3 Upcoming Events
  - @upcoming_five_events.each do |event|
    %h4{style: "font-weight:bolder;"}
      = event.title
    .event_description
      .event_time
        = event.starts_at.stamp("10 March at 7:00pm")
        to
        = event.ends_at.stamp("8:00pm")
      = event.description
    %hr

.left_column
  - for item in @activity_items
    .well
      - interpret item.object do |presenter|
        - case item.object
          - when Posting
            %h3= link_to item.title, item.url
          - when Page
            %h3
              New Page:
              = link_to item.title, item.url
          - when Comment
            %h3
              Comment from
              = item.name
            = presenter.avatar
          - else
            = presenter.title(false) if presenter.respond_to?(:title)
        - if presenter.respond_to?(:body)
          = truncate(strip_tags(presenter.body(false)), length: 150, omission: link_to(". . . more", item.url)).html_safe
        - else
          = "NO BODY"
      %p
        Updated at:
        = item.updated_at.strftime('%B %d %Y, %l:%M %p')
      %br.clear
  -if @activity_items.total_pages > 1
    .pagination_box= will_paginate @activity_items
