<% content_for :title, "Welcome".html_safe %>
<div id="featured" style="height: 460px;">
  <a href="base/getting_started"><div class="ribbon"></div></a>
  <div class="slider" id="slider" style="height: 350px;">	
    <%= image_tag "headerLarge/splash5.jpg" %>
    <%= image_tag "headerLarge/splash1.jpg" %>
    <%= image_tag "headerLarge/splash2.jpg" %>
    <%= image_tag "headerLarge/splash3.jpg" %>
    <%= image_tag "headerLarge/splash4.jpg" %>
  </div>
  <script type="text/javascript">
      var slideParams = [];
      slideParams['effect'] = 'fold';
      slideParams['slices'] = '10';
      slideParams['animSpeed'] = '600';
      slideParams['pauseTime'] = '4000';
      slideParams['directionNav'] = 1;
      slideParams['directionNavHide'] = 1;
      slideParams['controlNav'] = 1;
      slideParams['keyboardNav'] = 1;
      slideParams['pauseOnHover'] = 0;
      slideParams['manualAdvance'] = false;
      slideParams['captionOpacity'] = 0.6;
      slideParams['stopAtEnd'] = 0;
      slideParams['height'] = 350;
  </script>
  <ul id="featured-boxes">
    <li class="featured_fourth featured-dark">
      <div>
        <h4>What if &hellip;</h4>

        <p><strong>I looked forward to exercise.</strong></p>
      </div>
    </li>
    <li class="featured_fourth">
      <div>
        <h4>What if &hellip;</h4>

        <p><strong>I felt in the best shape of my life.</strong></p>
      </div>
    </li>
    <li class="featured_fourth featured-dark">
      <div>
        <h4>What if &hellip;</h4>

        <p><strong>Boot camp didn't mean yelling.</strong></p>
      </div>
    </li>
    <li class="featured_fourth_last">
      <div>
        <h4>What if &hellip;</h4>

        <p><strong>I found a new community.</strong></p>
      </div>
    </li>
  </ul>
  <br class="clear"/></div>

<div id="intro" class="text-intro">
  <div class="three_fifth">
    <p><strong>FitWit (Fit - Wit)</strong> &mdash; noun.<br/>
      1. A unique twist on the fitness boot camp where we get fit, give fit and live fit.
      2. Fitness redefined to embrace individual potential AND healthy community.
    </p>
  </div>
  <div class="two_fifth last center">
    <%= link_to "<span>Get Started</span>".html_safe, 
        fitness_camp_registration_all_fitness_camps_path,
        class: "big-btn gradient-btn stroke-btn"
     %>      
  </div>
  <br class="clear"/></div>

<div class="one_third">
  <div class="shadow shadow_medium">
    <a href="base/stories/amanda">
      <%= image_tag "camperstories/CamperStory_Amanda.png", class: "border-img" %>
    </a>
  </div>
  <h2>Amanda's Story</h2>

  <p><q>I know it sounds cliche, but FitWit changed my life.</q></p></div>
<div class="one_third">
  <div class="shadow shadow_medium">
    <a href="base/stories/greg">
      <%= image_tag "camperstories/CamperStory_Greg.png", class: "border-img" %>
    </a>
  </div>
  <h2>Greg's Story</h2>

  <p><q>I can finally keep up with my 2 young kids.</q></p></div>
<div class="one_third last">
  <div class="shadow shadow_medium">
    <a href="base/stories/pam">
      <%= image_tag "camperstories/CamperStory_Pam.png", class: "border-img" %>
    </a>
  </div>
  <h2>Pam's Story</h2>

  <p><q>I am a FitWitter for life.  FitWit is my team.</q></p></div>
<br class="clear"/>

<!-- should be for first page only -->
<%#= javascript_include_tag "at_bottom/galleria.min.js" %>
<%#= javascript_include_tag "at_bottom/galleria.classic.min.js" %>
<%#= javascript_include_tag "at_bottom/flowplayer.min.js" %>
<%= javascript_include_tag "at_bottom/jquery.nivo.slider.pack.js" %>
<%= javascript_include_tag "at_bottom/cold_custom.js", "at_bottom/nivo_slider_init.js" %>
