%p
  - if @time_slot.sold_out
    This time slot is
    %strong Sold Out

#reports{style: @time_slot.users_going.size > 0 ? "" : "display:none;"}
  %h4 Reports
  %ul
    %li= link_to "Current Attendance Report", backend_location_fitness_camp_time_slot_attendance_path(@location.id, @fitness_camp.id, @time_slot.id)
    %li= link_to "Attendance Sheet (PDF)", backend_location_fitness_camp_time_slot_attendance_sheet_path(@location.id, @fitness_camp.id, @time_slot.id, format: "pdf")
    %li
      = link_to "Emergency Contact List", backend_location_fitness_camp_time_slot_emergency_contact_path(@location.id, @fitness_camp.id, @time_slot.id)
      |
      = link_to "(PDF)", backend_location_fitness_camp_time_slot_emergency_contact_path(@location.id, @fitness_camp.id, @time_slot.id, format: "pdf")
      |
      = link_to "(CSV)", backend_location_fitness_camp_time_slot_emergency_contact_path(@location.id, @fitness_camp.id, @time_slot.id, format: "csv")

%h4
  There are
  %span#registration_number
    = @time_slot.registrations.size
  users registered
  %table.table.table-striped#registrants
    - @time_slot.users_going.each do |user|
      - @user = user
      = render "table_row"

%h4
  - @unregistered_users =  (@location.users - @time_slot.users_going.to_a).map{|u| [u.certain_name, u.id]}
  = form_tag backend_location_fitness_camp_time_slot_register_user_path(@location.id, @fitness_camp.id, @time_slot.id), :class => 'form-horizontal', remote: true do
    %fieldset
    .control-group
      = label_tag :user_id, "User"
      .controls
        = select_tag :user_id, options_for_select(@unregistered_users)
    .form-actions
      = submit_tag "Add User", class: "btn btn-primary"

%h4 Meetings
%p
  %ul.breadcrumb
    - @time_slot.meetings.each do |m|
      %li
        = link_to m.meeting_date_f, backend_location_fitness_camp_time_slot_meeting_path(@location.id, @fitness_camp.id, @time_slot.id, m.id)
      %span.divider /
%p= link_to "Edit Meetings", backend_location_fitness_camp_time_slot_meetings_path(@location.id, @fitness_camp.id, @time_slot.id)

%h4 Prizes
= link_to "Prizes", backend_location_fitness_camp_time_slot_prizes_path(@location.id, @fitness_camp.id, @time_slot.id)