- content_for :header do
  %h2= @time_slot.longer_title

%ul.breadcrumb
  %li
    = link_to @location.name, backend_location_path(@location.id)
    %span.divider /
  %li
    = link_to @fitness_camp.title, backend_location_fitness_camp_path(@location.id, @fitness_camp.id)
    %span.divider /
  %li.active
    = @time_slot.start_time_f

%ul.tabs
  %li= link_to "Index", collection_path
  %li= link_to "New", new_resource_path
  %li.active= link_to 'Show', '#'
  %li= link_to "Edit", edit_resource_path
  %li= link_to "Reload", backend_location_fitness_camp_time_slot_re_register_path(@location.id,@fitness_camp.id,@time_slot.id)
  %li= link_to "Destroy", resource_path, method: :delete, confirm: "Are you sure?"

= render "show"
