%p#notice= notice

%p
  %b Title:
  = @fitness_camp.title
%p
  %b Session start date:
  = @fitness_camp.session_start_date
%p
  %b Session end date:
  = @fitness_camp.session_end_date
%p
  %b Session active:
  = @fitness_camp.session_active
%p
  %b Description:
  = @fitness_camp.description

= link_to 'Edit', edit_location_fitness_camp_path(@location.id, @fitness_camp.id)
\|
= link_to 'Back', location_fitness_camps_path(@location.id)
