= simple_form_for [:backend, @fit_wit_workout] do |f|
  %fieldset
    = f.input :name
    = f.input :description, :as => :text
    = f.input :units, collection: FitWitWorkout::EXERCISE_UNITS
    = f.input :score_method, collection: FitWitWorkout::SCORE_METHODS
  .form-actions
    = f.submit :class => "btn btn-primary"