- camp_cost = fitness_camp_price(@vet_status,cart_item, @user.has_active_subscription)
/ this needs a presenter !!!!!!!
.info_box.info_box1.rounded
  / camp title
  .title_box{style: "background-color: white; border:1px solid #cfcfcf;"}
    %h4{style: "color:black;"}= cart_item.title_with_camp_dates
  #price_info
    - if @cart.new_membership
      = render "#{p}membership_price_screen"
    - else # they are signing up for a camp
      - case @user.veteran_status
        - when :vet
          - if cart_item.pay_by_session
            = render "#{p}pay_by_session_form"
          - else # pay for whole camp
            = render "#{p}coupon_discount_form"
            = render partial: "#{p}friend_discount_form", locals: {cart_item: cart_item}
        - when :supervet
          - if cart_item.pay_by_session
            = render "#{p}pay_by_session_form"
          - else # pay for whole camp
            = render "#{p}coupon_discount_form"
        - when :newbie # no pay by session option
          = render "#{p}coupon_discount_form"
          = render partial: "#{p}friend_discount_form", locals: {cart_item: cart_item}
        - otherwise
          You must be staff