= form_for @fit_wit_workout do |f|
  -if @fit_wit_workout.errors.any?
    #error_explanation
      %h2= "#{pluralize(@fit_wit_workout.errors.count, "error")} prohibited this fit_wit_workout from being saved:"
      %ul
        - @fit_wit_workout.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :description
    = f.text_field :description
  .field
    = f.label :units
    = f.text_field :units
  .field
    = f.label :score_method
    = f.text_field :score_method
  .actions
    = f.submit 'Save'
