<% title t(:sign_in) %>

<% content_for :right_column do %>
    <h3>cool quote about taking some steps . . .</h3>

    <p>Cool picture here. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.<br>
      Duis autem vel eum iriure dolor in hendrerit.</p>

<% end %>

<h3>Sign In</h3>
<%= form_for(resource, as: resource_name, url: session_path(resource_name), class: 'wpcf7-form') do |f| %>
    <p>
      <%= f.label :email %>
      <span class='wpcf7-form-control-wrap'>
        <%= f.text_field :email, class: 'wpcf7-text' %>
      </span>
    </p>

    <p>
      <%= f.label :password %>
      <span class='wpcf7-form-control-wrap'>
        <%= f.password_field :password, class: 'wpcf7-text' %>
      </span>
    </p>

    <% if devise_mapping.rememberable? -%>
        <p>
          <%= f.label :remember_me %>
          <span class='wpcf7-form-control-wrap'>
              <%= f.check_box :remember_me %>
              <%= t(:stay_logged_in) %>
          </span>
        </p>
    <% end -%>

    <p>
      <%= f.label :sign_in, sc(:nbsp).html_safe %>
      <%= f.submit t(:sign_in), class: "medium-btn glass-btn wpcf7-submit" %>
    </p>
<% end %>
<!-- omniauth now -->

<h3><%= t(:or_user_omni_auth) -%></h3>

<%= render '/authentications/authentications' %>


<%= render :partial => "devise/shared/links" %>
