<% title t(:sign_in) %>

<% content_for :right_column do %>
  <blockquote class="bq-center">
    <p>
      <span>We are what we repeatedly do. Excellence, then, is not a an act, but a habit.</span>
      <cite>Aristotle</cite>
    </p>
  </blockquote>
<% end %>

<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), :html => { :class => 'form-horizontal' }) do |f| %>
    <%=  f.input :email %>
    <%=  f.input :password, as: :password %>

    <% if devise_mapping.rememberable? -%>
        <%= f.input :remember_me, as: :boolean%>
    <% end -%>

    <div class="form-actions">
      <%= f.button :submit, "Sign in", class: "btn-primary" %>
    </div>

<% end %>

<h3><%= t(:or_user_omni_auth) -%></h3>

<%= render '/authentications/authentications' %>

<%= render :partial => "devise/shared/links" %>
