<% title t(:sign_in) %>

<% content_for :right_column do %>
    <h3>cool quote about taking some steps . . .</h3>

    <p>Cool picture here. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.<br>
      Duis autem vel eum iriure dolor in hendrerit.</p>

<% end %>

<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), :html => { :class => 'form-horizontal' }) do |f| %>
    <%=  f.input :email %>
    <%=  f.input :password, as: :password %>

    <% if devise_mapping.rememberable? -%>
        <%= f.input :remember_me, as: :boolean%>
    <% end -%>

    <div class="form-actions">
      <%= f.button :submit, "Sign in", class: "btn-primary" %>
    </div>

<% end %>
<!-- omniauth now -->

<h3><%= t(:or_user_omni_auth) -%></h3>

<%= render '/authentications/authentications' %>

<%= render :partial => "devise/shared/links" %>
