/ link_to :registrations, backend_user_registrations_path
/ link_to :orders, backend_user_orders_path
/ link_to :workouts, backend_user_workouts_path

= simple_form_for [:backend, @user], :wrapper => :inline do |f|
  %fieldset
    %ul.tabs
      %li.active
        %a{"data-toggle" => "tab", :href => "#basic_info"} Personal
      %li
        %a{"data-toggle" => "tab", :href => "#contact_info"} Contact
      %li
        %a{"data-toggle" => "tab", :href => "#fitwit_info"} FitWit
      %li
        %a{"data-toggle" => "tab", :href => "#medical_stuff"} Medical
      %li
        %a{"data-toggle" => "tab", :href => "#site_info"} Site Admin
    .tab-content
      #basic_info.tab-pane.active
        = f.input :first_name
        = f.input :last_name
        = f.input :email
        = f.input :gender, collection: [:male, :female], include_blank: false
        = f.input :occupation
        = f.input :company
        = f.input :date_of_birth, input_html: { class: 'datepicker' }
      #contact_info.tab-pane
        = f.input :street_address1
        = f.input :street_address2
        = f.input :city
        = f.input :us_state, collection: Location::US_STATES, include_blank: false
        = f.input :zip
        = f.input :primary_phone
        = f.input :secondary_phone
        = f.input :emergency_contact_name
        = f.input :emergency_contact_relationship
      #fitwit_info.tab-pane
        = f.input :location_id, collection: Location.all.map{|l| [l.name, l.id]}.push(['none',nil]), include_blank: false, prompt: "Choose a location"
        = f.input :t_shirt_size, collection: ["Small","Medium","Large"], include_blank: false
        = f.input :fitness_level, collection: 1..10, prompt: "10 is the best", include_blank: false
        = f.input :weight
        = f.input :height_inches
        = f.input :height_feet, as: :integer
        = f.input :how_did_you_hear_about_us
        = f.input :veteran_status, collection: [:veteran, :supervet, :newbie, :staff], include_blank: false
        = f.input :member, as: :boolean
      #medical_stuff.tab-pane
        = f.input :has_physician_approval, as: :boolean
        = f.input :has_physician_approval_explanation, as: :text, :input_html => { rows: 3 }
        = f.input :meds_affect_vital_signs, as: :boolean
        = f.input :meds_affect_vital_signs_explanation, as: :text, :input_html => { rows: 3 }
        = f.input :post_menopausal_female, as: :boolean, default: false
        = f.input :taking_estrogen, as: :boolean, default: false
      #site_info.tab-pane
        = f.input :roles_mask, collection: [:guest, :confirmed_user, :author, :moderator, :maintainer, :admin].each_with_index.map{|r,i| [r,i]}, include_blank: false
  .actions
    = f.submit class: "btn primary"

%div.well
  = link_to "PRs", backend_user_user_prs_path(@user.id)
  |
  = link_to "Custom Workouts", backend_user_custom_workouts_path(@user.id)
  |
  = link_to "Goals", backend_user_goals_path(@user.id)
  |
  = link_to "Measurements", backend_user_measurements_path(@user.id)
  |
  = link_to "Health Issues", backend_user_health_issues_path(@user.id)