- content_for :header do
  %h1 User Management

= form_tag backend_users_path, method: :get, class: "well form-search" do
  = select_tag :location, options_from_collection_for_select(@locations.push, 'id', 'name', @location_id)  + "<option>None</option>".html_safe + "<option>All</option>".html_safe, :prompt => "Filter by location"
  = submit_tag "Go", class: "btn"

%ul.tabs
  %li.active= link_to "Index", "#"
  %li= link_to "New", new_resource_path

%table
  %tr
    %th= sort_link_to :first_name
    %th= sort_link_to :last_name
    %th= sort_link_to :location
    %th= sort_link_to :member
    %th

  - @users.each do |resource|
    - unless resource == current_user
      %tr
        %td= link_to resource.first_name, edit_resource_path(resource)
        %td
          = link_to resource.last_name, edit_resource_path(resource)

        %td= resource.location.nil? ? 'none' : resource.location.name
        %td
          - if resource.member
            %span.label.label-success member

        %td.row-actions
          = link_to 'destroy', resource_path(resource), method: :delete, confirm: "Are you sure?"

= paginate collection