= form_for @workout do |f|
  -if @workout.errors.any?
    #error_explanation
      %h2= "#{pluralize(@workout.errors.count, "error")} prohibited this workout from being saved:"
      %ul
        - @workout.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :score
    = f.text_field :score
  .field
    = f.label :user_note
    = f.text_field :user_note
  .field
    = f.label :rxd
    = f.check_box :rxd
  .field
    = f.label :common_value
    = f.text_field :common_value
  .actions
    = f.submit 'Save'
