= simple_form_for [:backend, @location] do |f|
  %fieldset
    = f.input :name
    = f.input :description, as: :text
    = f.input :contact_info
    = f.input :street_address
    = f.input :city
    = f.input :us_state
    = f.input :zip
    = f.input :active, as: :boolean
    = f.input :lat
    = f.input :lon
  .form-actions
    = f.submit :class => "btn btn-primary"
