= simple_form_for [:backend, @location], :wrapper => :inline do |f|
  %fieldset
    = f.input :name
    = f.input :description
    = f.input :directions
    = f.input :contact_info
    = f.input :city
    = f.input :franchise_id
    = f.input :us_state
    = f.input :short_description
    = f.input :zip
    = f.input :street_address
    = f.input :lat
    = f.input :lon
  .actions
    = f.submit :class => "btn primary"
