%p
  %dd
    %b Name:
    = @location.name

%p
  %dd
    %b Fitness Camps:
    %ul
      - @location.fitness_camps.each do |fc|
        %li
          = link_to fc.title, backend_location_fitness_camp_path(@location.id, fc.id)
%dt
  %dd
    %b Description:
    = @location.description
%dt
  %dd
    %b Contact info:
    = @location.contact_info
%dt
  %dd
    %b City:
    = @location.city
%dt
  %dd
    %b Zip:
    = @location.zip
%dt
  %dd
    %b Street address:
    = @location.street_address
%p
  &nbsp;

= link_to "Add new camp for this location", new_backend_location_fitness_camp_path(@location.id), class: "btn primary"

%h3 Map
%span10
  %div{:id => 'location-map', style: 'margin: auto;'}