= simple_form_for @time_slot do |f|
  %fieldset
    = f.input :start_time, :input_html => { :class => 'timepicker' }
    = f.input :end_time, :input_html => { :class => 'timepicker' }
    = f.input :sold_out
  .form-actions
    = f.submit class: "btn btn-primary"
