<%= form_for(@custom_workout, :class=> "fitwit", :url => @action_url) do |f| %>
<%= f.error_messages %>

<%= hidden_field_tag "adding_new_workout", true %> <!-- #!f.object[:custom_name].blank? %> -->

<ul>
  <li id="custom_section">
    <%= desc_label(f, :custom_name, 'Workout Name', false) %>
    <%= f.text_field :custom_name, :size => 51, :class => "required" %>
  </li>
  <li id="fit_wit_workout_select">
    <%= desc_label(f, :fit_wit_workout_id, 'FitWit Workout', false) %>
    <%= f.select :fit_wit_workout_id, @fit_wit_workout_list, {:prompt => 'Select one of the FitWit workouts or a custom workout '}, {:style => "width:400px"} %>
  </li>
  <li id="fit_wit_workout_description">
    <%= desc_label(f, :fit_wit_workout_description, 'Description', false) %>
    <div id="the_description" style="margin-left:209px; width:560px;">&nbsp;</div>
  </li>
  <li id="the_button">
    <%= desc_label(f, :button, "", false).html_safe %>
    <button id="custom_workout_button" class="fg-button ui-state-default fg-button-toggleable ui-corner-all fg-button-icon-left">
      <span class="ui-icon ui-icon-plusthick" style="padding-bottom: 0;"></span>Do a FitWit workout
    </button>
  </li>

  <% if @admin %>
  <li>
    <%= desc_label(f, :user_id, "Camper", false) %>
    <%= f.select :user_id, @users %>
  </li>
  <li>
    <%= desc_label(f, :workout_date, "Date", false) %>
    <%= f.date_select :workout_date %>
  </li>
  <% else %>
  <%= f.hidden_field :user_id, :value => @user.id %>
  <%= f.hidden_field :workout_date, :value => @date %>
  <% end %>
  <li>
    <%= desc_label(f, :pr, "Personal record?", false)  %>
    <%= f.check_box :pr %>
  </li>
  <li>
    <%= desc_label(f, :description, 'Description', false) %>
    <%= f.text_area :description, :rows => 3 %>
  </li>
  <li>
    <%= desc_label(f, :score, 'Score', false) %>
    <%= f.text_field :score, :size => 51 %>
  </li>
  <li>
    <%= desc_label(f, :submit,'&nbsp;', false) %>
    <%= f.submit "Submit", :class => 'button' %>
  </li>
</ul>
<% end %>
