= form_for @custom_workout do |f|
  -if @custom_workout.errors.any?
    #error_explanation
      %h2= "#{pluralize(@custom_workout.errors.count, "error")} prohibited this custom_workout from being saved:"
      %ul
        - @custom_workout.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :custom_name
    = f.text_field :custom_name
  .field
    = f.label :workout_date
    = f.date_select :workout_date
  .field
    = f.label :pr
    = f.check_box :pr
  .field
    = f.label :description
    = f.text_field :description
  .field
    = f.label :score
    = f.text_field :score
  .field
    = f.label :custom
    = f.check_box :custom
  .actions
    = f.submit 'Save'
