%p#notice= notice

%p
  %b Custom name:
  = @custom_workout.custom_name
%p
  %b Workout date:
  = @custom_workout.workout_date
%p
  %b Pr:
  = @custom_workout.pr
%p
  %b Description:
  = @custom_workout.description
%p
  %b Score:
  = @custom_workout.score
%p
  %b Custom:
  = @custom_workout.custom

= link_to 'Edit', edit_custom_workout_path(@custom_workout)
\|
= link_to 'Back', custom_workouts_path
