%p#notice= notice

%p
  %b Name:
  = @location.name

%p
  %b Fitness Camps:
  %ul
    - @location.fitness_camps.each do |fc|
      %li
        = link_to fc.title,location_fitness_camp_path(@location.id, fc.id)
%p
  %b Description:
  = @location.description
%p
  %b Directions:
  = @location.directions
%p
  %b Contact info:
  = @location.contact_info
%p
  %b City:
  = @location.city

%p
  %b Short description:
  = @location.short_description
%p
  %b Zip:
  = @location.zip
%p
  %b Street address:
  = @location.street_address


= link_to 'Edit', edit_location_path(@location)
\|
= link_to 'Back', locations_path
