- user_has_it = @user.has_condition?(medical_condition.id)
.control-group.boolean.optional{id: medical_condition.name.parameterize}
  = label_tag dom_id(medical_condition), medical_condition.name.titlecase, class: "boolean optional"
  .controls
    %label.checkbox
      = check_box_tag "user[medical_condition_ids][]", medical_condition.id, user_has_it, id: dom_id(medical_condition), class: 'boolean optional med_checkbox'
.control-group.text{id: "explanation_div_medical_condition_#{medical_condition.id}", style: "#{user_has_it ? "display:block;" : "display:none;"}", class: "required"}
  = label_tag dom_id(medical_condition) + "_explanation", "Please Explain:", class: "text required"
  .controls
    = text_area_tag "user[explanation_#{medical_condition.id}]", @user.explanation_for(medical_condition.id), id: dom_id(medical_condition) + "_explanation", class: "required"