<% form_for :credit_card, :url => {:action => 'pay', :id => params[:id]} do |f| %>
<ul>
    <li><%= desc_label(f,:first_name,'First Name:') +
      f.text_field(:first_name, :value => @myuser.first_name) %></li>
    <li><%= desc_label(f,:last_name,'Last Name:') +
      f.text_field(:last_name, :value => @myuser.last_name) %></li>
    <!-- begin address -->
    <li>
      <%= desc_label(f,:address,'Billing Address:',true) %>
      <div id="address" class="address">
        <div>
          <%= text_field_tag('billing_address[address1]', @myuser.street_address1, :class => "full") +
            f.label(:street_address1,"Street Address#{FIELD_REQUIRED}") %>
        </div>
        <div>
          <%= text_field_tag('billing_address[address2]', @myuser.street_address2, :class => "full") +
            f.label(:street_address2,"Street Address (cont)")%>
        </div>
        <div>
          <span>
            <!-- City ! -->
  <%= text_field_tag('billing_address[city]', @myuser.city, :size => '22') +
    f.label(:city, "City#{FIELD_REQUIRED}") %>
          </span>
          <span>
            <!-- State ! -->
  <%= text_field_tag('billing_address[us_state]',
    @myuser.us_state, :size => 2) +
    f.label(:us_state, "State#{FIELD_REQUIRED}") %>
          </span>
          <!-- Zip ! -->
          <span>
            <%= text_field_tag('billing_address[zip]', @myuser.zip, :size => 10) +
              f.label(:zip, "Zip") %>
          </span>
        </div>
      </div>
    </li>
    <!-- end address -->
    <li><%= desc_label(f,:number,'Credit Card Number:') %>
      <span>
        <%=  f.text_field(:number) +
          label(:number, :description, "(No spaces or dashes)") %>
      </span>
    </li>
    <li><%= desc_label(f,:month,'Expiration Date:') %>
      <span>
        <%= f.text_field(:month, :size => 2) +
          label(:credit_card, :month, "MM") %>
      </span>
      <span>
        <%= f.text_field(:year, :size => 4) +
          label(:credit_card, :month, "YYYY") %>
      </span>
    </li>
    <li><%= desc_label(f,:number,'Type:') +
      f.select(:type, Order::card_types) %></li>
    <li><%= desc_label(f,:this_submit,'&nbsp;',false) +
      f.submit('Submit Payment', :class => "button")  %></li>
</ul>
<% end %>