- title "Register for a Fitness Camp"
- if @cart_view
  - content_for :right_column do
    .widgets
      = render(:partial => "fitness_camp_registration/cart/cart", :object => @cart)

.well
  %h4 Pick a camp and time to get started.

%p
  - @fitness_camps.each_with_index do |fc, idx|
    %div{class: "one_third #{(idx+1) % 3 == 0 ? "last":""}"}
      .pricebox
        %h3= fc.full_title
        %p.price-td
          = raw("#{fc.location.name_in_context}")
        %p.price-body
          = "#{fc.description}<br />".html_safe unless fc.description.nil?
        %p.price-foot
        %h4 Times:
        - fc.time_slots.each do |time_slot|
          - if time_slot.sold_out
            %b
              = time_slot.start_time_f
              SOLD OUT!
          - else
            = form_tag({ :action => :add_to_cart, :id => time_slot }) do
              = submit_tag(time_slot.start_to_finish, :id => "reg_#{time_slot.id}", :class => 'btn')

