- title "Register for a Fitness Camp"
- if @cart_view
  - content_for :right_column do
    .widgets
      = render(:partial => "fitness_camp_registration/cart/cart", :object => @cart)

%p
  To register for a camp,
  click on the desired time-slot located at
  the bottom of each camp's description.
  - @fitness_camps.each do |fc|
    %div{class: "one_third #{@fitness_camps.last == fc ? "last":""}"}
      .pricebox
        %h3= fc.full_title
        %p.price-td
          = raw("#{fc.location.name_in_context}")
        %p.price-body
          = "#{fc.description}<br />".html_safe unless fc.description.nil?
        %p.price-foot
        %h4 Time Slots:
        - fc.time_slots.each do |time_slot|
          - if time_slot.sold_out
            %b
              = time_slot.start_time_f
              SOLD OUT!
          - else
            = form_tag({ :action => :add_to_cart, :id => time_slot }) do
              = submit_tag(time_slot.start_to_finish, :id => "reg_#{time_slot.id}", :class => 'small-btn')