<% hidden_div_if(@cart.items.empty?, :id => "cart") do %>
    <%= render(:partial => "cart", :object => @cart) %>
<% end %>
<%= image_tag "headers/h1_register.jpg" %>
<p>
  To register for a camp,
  click on the desired time-slot located at
  the bottom of each camp's description.
</p>
<dl>
  <% @fitness_camps.each do |fc| %>
      <dt><%= fc.full_title %></dt>
      <dd>
        <%= "#{fc.description}<br />" unless fc.description.nil? -%>
        Location: <%= fc.location.name_in_context %>
        <br/>
        <!-- NOW LIST TIME SLOTS -->
        <% fc.time_slots.each do |time_slot| %>
            <% if time_slot.sold_out %>
                <div style="float:left;color:red;padding:10px;border:1px solid black;margin:15px 8px 8px 8px;">
                  <b><%= time_slot.start_time_f %> SOLD OUT!</b>
                </div>
            <% else %>
                <div style="float:left;padding-top:10px;">
                  <% form_tag({ :action => :add_to_cart, :id => time_slot }) do  %><!-- , :html => {:id => "form#{time_slot.id}"}  -->
                     <%= submit_tag(time_slot.start_to_finish, :id => "reg_#{time_slot.id}", :class => 'registration_submit button') %>
                  <% end %>
		</div><!-- for time slot end -->
            <% end %>
        <% end %>
        <div style="clear:both;"><!-- clear div --></div>
      </dd>
  <% end %>
</dl>
<div style="clear:both;height:100px;"><!-- clear div --></div>
<p class="last">
  &nbsp;
</p>
