= render(:partial => "cart", :object => @cart)
  = image_tag "headers/h1_register.jpg"
  %p
    To register for a camp,
    click on the desired time-slot located at
    the bottom of each camp's description.
  %dl
    - @fitness_camps.each do |fc|
      %dt= fc.full_title
      %dd
        = "#{fc.description}<br />".html_safe unless fc.description.nil?
        Location: #{fc.location.name_in_context}
        %br/
        / NOW LIST TIME SLOTS
        - fc.time_slots.each do |time_slot|
          - if time_slot.sold_out
            %div
              %b
                = time_slot.start_time_f
                SOLD OUT!
          - else
            %div{:style => "float:left;padding-top:10px;"}
              = form_tag({ :action => :add_to_cart, :id => time_slot }) do
                = submit_tag(time_slot.start_to_finish, :id => "reg_#{time_slot.id}", :class => 'registration_submit button')
            / for time slot end
        %div{:style => "clear:both;"}
          / clear div
  %div{:style => "clear:both;height:100px;"}
    / clear div
  %p.last
    \ 