- title "Registration step 3 of 6: Health History"

- present @cart do |cart_presenter|

  - content_for :right_column do
    .info_box.info_box1.rounded
      .content_box
        %br.clear
        #reported_problems
          - if @user.health_issues.size > 0
            = cart_presenter.show_health_problems(@user)
        #unreported
          - unless @user.health_issues.size == MedicalCondition.all.size
            %h4 You did not report any previous:
            = cart_presenter.show_clear_health(@user)
        maybe show previous health status . . .
        %br.clear
  %p
    Before completing registration, it is important that you have reported an up-to-date
    health history. If you have submitted a health history before, please let us know if anything has changed.
    Of course, your information will be protected and only used to help us tailor our program
    to your fitness needs.

  - if @membership

    %p
      As a FitWit Club member, it is important that you keep us informed of
      any change in your medical status. Please fill out the Health Consent
      questions and update your Health History as necessary. We will send
      you an e-mail reminder prior to each camp to keep your Health Consent
      and Health History current.

  #verify_health_history
    %h4 Medical Conditions
    = form_tag fitness_camp_registration_medical_conditions_path, id: 'consent_form' do
      .info_box.info_box1.rounded{style: "width:550px;"}
        .content_box{style: "width:350px;"}
          %p If you have any of the following, please update:
          = hidden_field_tag "user[medical_condition_ids][]", nil
          = cart_presenter.show_medical_conditions(@user)
      .submit_box
        = submit_tag "Update Health History", class: "small-btn"
  %br.clear

  = form_tag fitness_camp_registration_release_and_waiver_of_liability_path, id: 'health_status' do
    #order_details
      %h4 Current Health Status
      .info_box.info_box1.rounded{style: "width:550px;"}
        .content_box
          %p
            = cart_presenter.verify_user_is_healthy(@user)
    .submit_box
      = submit_tag "Proceed to Release and Waiver of Liability", class: "small-btn"
