<div class="floatLeft width25">
  <!-- Left thumbnail column -->
  Step 3 of 4 - Place your order
  <%= error_messages_for :order %>
  <!-- Left thumbnails end -->
</div>
<!-- Left thumbnails end -->
<!-- Right column -->
<div class="floatRight width75">
  <h1>Place an Order</h1>
  
    <p>
      Please confirm name : <%= @myuser.full_name %>.<br />
      <% # TODO ben, we need a way for someone to register someone else, at a minimum, we should link to the change form here %>
    </p>
    <p>
      Your email is:
      <%#= form.text_field :name, :size => 40 %>
      <%= @myuser.email_address %>
    </p>

    <%#= number_to_currency(@fitness_camp_price) %>

    <p>You are registering for the following Fitness Camps:<br />
      <%# here we put the line items %>
      <ol>
        <% mydesc1 = "" %>  
        <% @cart.items.each do |myitem| %>
            <% desc = myitem.title_with_camp_dates %>
          <li><%= desc %></li>
          <% mydesc1 += "#{desc}\n"  %>
      <% end %>
      </ol>
      
      <% # TODO we don't need this here! %>
      <% unless @total_cost.nil? %>
        Total cost is: <%= number_to_currency(@total_cost) %>
      <% end %>
        <pre>
            <%= @initial_consent %>
            <%= @health_history %>
        </pre>
    </p>
    <% form_for :order, :url => { :action => :save_order } do |form| %>  
      
    <%= form.hidden_field :user_id, :value => @myuser.id  %>
    <%= form.hidden_field :amount, :value => @total_cost  %>
    <%= form.hidden_field :description, :value => 'test'  %> <% # TODO need to change this %>

    <%= submit_tag "Goto Payment Details" %>
  <% end %>
  
</div>