#navigation
  %ul#menu-top-menu.sf-menu
    %li#menu-item-427.menu-item.menu-item-type-post_type.menu-item-object-page.current-menu-item.page_item.page-item-5.current_page_item.menu-item-427
      = link_to "Home", root_url
    %li#menu-item-428.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-431
      = link_to "Locations", locations_url
      %ul.sub-menu
        %li#menu-item-433.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-433
          = link_to "Grant Park", "/"
        %li#menu-item-434.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-433
          = link_to "Decatur", "/"
        %li#menu-item-434.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-433
          = link_to "Mid Town", "/"
    %li#menu-item-435.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-430
      = link_to "Camp Details", camp_details_url
      %ul.sub-menu
        %li#menu-item-436.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-439
          = link_to "What's Included", whats_included_url
        %li#menu-item-436.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-439
          = link_to "Getting Started", getting_started_url
        %li#menu-item-437.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-439
          = link_to "FAQ", faq_url
        %li#menu-item-438.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-439
          = link_to "Price", price_url
        %li#menu-item-439.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-439
          = link_to "Referral Rewards Program", referrals_url
    %li#menu-item-440.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-426
      = link_to "Blogs", blogs_path
    %li#menu-item-4.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-428
      = link_to "Non-profit", non_profit_url
    %li#menu-item-441.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-429
      = link_to "Stories", camper_stories_url
      %ul.sub-menu
        %li#menu-item-443.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-423
          = link_to "Camper Stories", camper_stories_url
        %li#menu-item-442.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-423
          = link_to "Company Story", company_story_url
        %li#menu-item-442.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-423
          = link_to "Team", team_story_url
    %li#menu-item-444.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-459
      = link_to "Contact", contact_url
  %br.clear/