<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<% if content_for? :resource_actions %>
   <% content_for :right_column_top do %>
     <div id='resource-actions'>
       <%= yield( :resource_actions) %>
     </div>
   <% end %>
<% end %>

<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang='<%= I18n.locale.to_s -%>'>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <title><%=
      raw(strip_tags((ENV['APPLICATION_CONFIG_title_prefix']+
              " "+
              yield(:title))))
  -%></title>
  <%= insert_extra_headers %>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "http://maps.googleapis.com/maps/api/js?sensor=false" if @google_maps -%>
  <!-- eieio -->
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "from_old_wit/jquery.validate.min", "from_old_wit/old_application", "qtip/jquery.qtip-1.0.0-rc3.min" if @my_fit_wit -%>
  <!-- prototype-lib will be loaded only when needed (if ever?) -->
  <%= javascript_tag do %>
      <%= "var google_api_key = '#{ENV['GOOGLE_PLACE_API_KEY']}';" -%>
  <% end %>
  <%= yield :prototype %>
  <%= yield :head %>
  <%= auto_discovery_link_tag(:atom, "/feed") %>
  <%= insert_google_analytics_script if  (Rails.env == 'production') %>
  <% if ENV['APPLICATION_CONFIG_twitter_profile'] %>
      <link rel="me" type="text/html" href="<%= ENV['APPLICATION_CONFIG_twitter_profile'] -%>"/>
  <% end %>
  <% if ENV['APPLICATION_CONFIG_google_profile'] %>
      <link rel="me" type="text/html" href="<%= ENV['APPLICATION_CONFIG_google_profile'] -%>"/>
  <% end %>
  <script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
  <%= csrf_meta_tag %>
  <link rel='stylesheet' id='Lato-css' href='http://fonts.googleapis.com/css?family=Lato&#038;ver=3.2.1' type='text/css' media='all'/>

  <link rel="shortcut icon" href="http://e404themes.com/cold/wp-content/themes/cold/admin/images/favicon.ico"/>

  <script type="text/javascript">
      jQuery(document).ready(function() {
          jQuery(".stylespanel-toggle").click(function(e) {
              e.preventDefault();
              jQuery(".stylespanel-content").slideToggle();
          });
          jQuery(".stylespanel-content").hide();
      });
  </script>
</head>

<body>

<%= render :partial => "layouts/header" %>

<%= render :partial => "layouts/nav" %>

<div id="wrapper">


  <div id="main_wrapper">
    <!-- main content area -->
    <!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
    <% setup_action_buttons %>
    <% if content_for? :action_buttons %>
        <div id='action_buttons'>
          <%= yield(:action_buttons) %>
        </div>
    <% end %>
    <div id="overlay" class="ui-widget-content"></div>
    <div id="breadcrumb">
      <!-- SAVE FOR LATER
        <ul>
          <%= render 'home/menu/application' %>
        </ul>
        -->

        <%= render 'devise/menu/registration_items' %>
        <%= render 'devise/menu/login_items' %>
        <%#= render '/home/menu/language_selection' %>
    </div>

    <div class='main-frame'>
      <div id='flashes'>
        <% flash.each do |name, msg| %>
            <%= content_tag :div, raw(msg), :id => "flash_#{name}" %>
        <% end %>

        <% if user_signed_in? && current_user.user_notifications.displayed.any? %>
          <% unless params[:controller] == 'user_notifications' || session[:hide_notifications] == true -%>
            <%= content_tag :div, :id => 'user_notifications' do %>
              <%= render :partial => 'users/notifications',:locals => {:user_notifications => current_user.user_notifications.displayed } %>
            <% end %>
          <% end %>
        <% end %>
      </div>
      <div id="container">

        <% if content_for?(:right_column) || content_for?(:right_column_top) %>
            <div id='right-column'>
              <% if content_for?(:right_column_top) %>
                  <div id='right-column-top'>
                    <%= yield(:right_column_top) %>
                  </div>
              <% end %>
              <div id='right-column-bottom'>
                <%= yield(:right_column) if content_for?(:right_column) %>
              </div>
            </div>
        <% end %>

        <!--
        <div class='google-search'>
           %= insert_google_site_search %
        </div>
        -->
        <div id='container_main'>
          <!-- google_search div id="cse" style="display: hidden; background: #fee;"></div -->
          <%= content_tag(:div, id: 'intro', class: 'text-intro') do
                content_tag(:h1, :id => 'title') do
                  yield(:title)
                end
              end if show_title? %>
          <%= yield %>
          <div style='clear:both;'></div>
        </div>
      </div>
    </div>

    <div class='clear'></div>
    <%#= render :partial => 'shared/footer' %>
  </div>
  <!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
</div>

</div>

<%= render :partial => 'layouts/footer' %>

</body>
</html>
