<!DOCTYPE html>

<% if content_for? :resource_actions %>
    <% content_for :right_column_top do %>
        <div id='resource-actions'>
          <%= yield(:resource_actions) %>
        </div>
    <% end %>
<% end %>

<html lang='<%= I18n.locale.to_s -%>'>
<head>
  <title><%=
      raw(strip_tags((ENV['APPLICATION_CONFIG_title_prefix']+
              " "+
              yield(:title))))
  -%></title>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
  <link rel="shortcut icon" href="/favicon.png"/>
  <%= insert_extra_headers %>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <!-- prototype-lib will be loaded only when needed -->
  <%= javascript_tag do %>
      <%= "var google_api_key = '#{ENV['GOOGLE_PLACE_API_KEY']}';" -%>
  <% end %>
  <%= yield :prototype %>
  <%= yield :head %>
  <%= auto_discovery_link_tag(:atom, "/feed") %>
  <%= insert_google_analytics_script if  (Rails.env == 'production') %>
  <% if ENV['APPLICATION_CONFIG_twitter_profile'] %>
      <link rel="me" type="text/html" href="<%= ENV['APPLICATION_CONFIG_twitter_profile'] -%>"/>
  <% end %>
  <% if ENV['APPLICATION_CONFIG_google_profile'] %>
      <link rel="me" type="text/html" href="<%= ENV['APPLICATION_CONFIG_google_profile'] -%>"/>
  <% end %>
  <script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
  <%= csrf_meta_tag %>
</head>
<body>
<div id="header_wrapper">
  <div id="header">
    <div class="leftside" id="logo">
      <a href=""><%= image_tag "cold/logo.png" %></a>
    </div>
    <div id="header_nav" class="rightside">
      <div id="social_icons" class="leftside">
        <%= link_to image_tag("cold/socialmedia/contact.png"), "contact" %>
        <%= link_to image_tag("cold/socialmedia/rss.png"), "rss" %>
        <%= link_to image_tag("cold/socialmedia/twitter.png"), "twitter" %>
        <%= link_to image_tag("cold/socialmedia/facebook.png"), "contact" %>
      </div>
      <div id="search" class="leftside">
        <form action="" method="get">
          <input type="text" name="s" value="Search..." onfocus="if (this.value == 'Search...') {this.value = '';}" onblur="if (this.value == '') {this.value = 'Search...';}">
          <input type="submit" value="Go">
        </form>
      </div>
    </div>
  </div>
</div>
<div id="navigation">
  <ul id="menu-top-menu" class="sf-menu sf-js-enabled sf-shadow">
    <li id="menu-item-427" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-5 current_page_item menu-item-427">
      <a href="">Home</a>
    </li>
    <li id="menu-item-431" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-431">
      <a href="locations" class="sf-with-ul">Locations<span class="sf-sub-indicator"> »</span></a>
      <ul class="sub-menu" style="display: none; visibility: hidden; ">
        <li id="menu-item-433" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-433">
          <a href="">Grant Park</a>
        </li>
        <li id="menu-item-448" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-448">
          <a href="">Decatur</a>
        </li>
      </ul>
    </li>
    <li id="menu-item-430" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-430">
      <a href="" class="sf-with-ul">Camp Details<span class="sf-sub-indicator"> »</span></a>
      <ul class="sub-menu" style="display: none; visibility: hidden; ">
        <li id="menu-item-439" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-439">
          <a href="">Need Content</a>
        </li>
      </ul>
    </li>
    <li id="menu-item-426" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-426">
      <a href="">Blog</a></li>
    <li id="menu-item-428" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-428">
      <a href="" class="sf-with-ul">Non-profit<span class="sf-sub-indicator"> »</span></a>
      <ul class="sub-menu" style="display: none; visibility: hidden; ">
        <li id="menu-item-458" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-458">
          <a href="">1 column with sidebar</a>
        </li>
      </ul>
    </li>
    <li id="menu-item-429" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-429">
      <a href="" class="sf-with-ul">Stories<span class="sf-sub-indicator"> »</span></a>
      <ul class="sub-menu" style="display: none; visibility: hidden; ">
        <li id="menu-item-423" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-423">
          <a href="">Any?</a></li>
        <li id="menu-item-447" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-447">
          <a href="http://e404themes.com/cold/gallery/gallery-with-galleria/">Gallery with Galleria</a></li>
        <li id="menu-item-663" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-663">
          <a href="http://e404themes.com/cold/gallery/scrollable-gallery-full-width-only/">Scrollable Gallery</a></li>
      </ul>
    </li>
    <li id="menu-item-459" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-459">
      <a href="">Contact</a></li>
  </ul>
  <br class="clear">
</div>
<div id="wrapper">


  <div id="main_wrapper">
    <div id="featured" style="height: 460px;">
      <div class="ribbon"></div>
      <div class="slider nivoSlider" id="slider" style="height: 350px; position: relative; opacity: 1; background-image: url(http://e404themes.com/cold/wp-content/themes/cold/lib/timthumb.php?src=http://e404themes.com/cold/wp-content/uploads/2011/04/slider01.jpg&amp;w=930&amp;h=350&amp;zc=1); background-attachment: initial; background-origin: initial; background-clip: initial; background-color: initial; background-position: initial initial; background-repeat: no-repeat no-repeat; ">
        <img src="http://e404themes.com/cold/wp-content/themes/cold/lib/timthumb.php?src=http://e404themes.com/cold/wp-content/uploads/2011/04/slider04.jpg&amp;w=930&amp;h=350&amp;zc=1" title="Number twe12e by sykicktb" alt="Number twe12e by sykicktb" style="display: none; visibility: visible; opacity: 1; " class=""><img src="http://e404themes.com/cold/wp-content/themes/cold/lib/timthumb.php?src=http://e404themes.com/cold/wp-content/uploads/2011/04/slider01.jpg&amp;w=930&amp;h=350&amp;zc=1" title="Lettering by RhysDaven" alt="Lettering by RhysDaven" style="display: none; visibility: visible; opacity: 1; " class=""><img src="http://e404themes.com/cold/wp-content/themes/cold/lib/timthumb.php?src=http://e404themes.com/cold/wp-content/uploads/2011/04/img011.jpg&amp;w=930&amp;h=350&amp;zc=1" title="Trial card designs by photojenni" alt="Trial card designs by photojenni" style="display: none; visibility: visible; opacity: 1; " class="">

        <div class="nivo-caption" style="opacity: 0.6; ">
          <p style="display: block; opacity: 0; ">Trial card designs by photojenni</p></div>
        <div class="nivo-directionNav" style="top: 160px; display: none; ">
          <a class="nivo-prevNav">Prev</a><a class="nivo-nextNav">Next</a></div>
        <div class="nivo-controlNav">
          <a class="nivo-control" rel="0">1</a><a class="nivo-control" rel="1">2</a><a class="nivo-control active" rel="2">3</a>
        </div>
        <div class="nivo-box" style="left: 464px; top: 264px; width: 116px; height: 88px; background-image: url(http://e404themes.com/cold/wp-content/themes/cold/lib/timthumb.php?src=http://e404themes.com/cold/wp-content/uploads/2011/04/img011.jpg&amp;w=930&amp;h=350&amp;zc=1); background-attachment: initial; background-origin: initial; background-clip: initial; background-color: initial; opacity: 1; background-position: -464px -264px; background-repeat: no-repeat no-repeat; "></div>
        <div class="nivo-box" style="left: 580px; top: 264px; width: 116px; height: 88px; background-image: url(http://e404themes.com/cold/wp-content/themes/cold/lib/timthumb.php?src=http://e404themes.com/cold/wp-content/uploads/2011/04/img011.jpg&amp;w=930&amp;h=350&amp;zc=1); background-attachment: initial; background-origin: initial; background-clip: initial; background-color: initial; opacity: 0.9619397662556434; background-position: -580px -264px; background-repeat: no-repeat no-repeat; "></div>
        <div class="nivo-box" style="left: 696px; top: 264px; width: 116px; height: 88px; background-image: url(http://e404themes.com/cold/wp-content/themes/cold/lib/timthumb.php?src=http://e404themes.com/cold/wp-content/uploads/2011/04/img011.jpg&amp;w=930&amp;h=350&amp;zc=1); background-attachment: initial; background-origin: initial; background-clip: initial; background-color: initial; opacity: 1; background-position: -696px -264px; background-repeat: no-repeat no-repeat; "></div>
        <div class="nivo-box" style="left: 812px; top: 264px; width: 118px; height: 88px; background-image: url(http://e404themes.com/cold/wp-content/themes/cold/lib/timthumb.php?src=http://e404themes.com/cold/wp-content/uploads/2011/04/img011.jpg&amp;w=930&amp;h=350&amp;zc=1); background-attachment: initial; background-origin: initial; background-clip: initial; background-color: initial; opacity: 1; background-position: -812px -264px; background-repeat: no-repeat no-repeat; "></div>
      </div>
      <script type="text/javascript">
          var slideParams = [];
          slideParams['effect'] = 'random';
          slideParams['slices'] = '10';
          slideParams['animSpeed'] = '600';
          slideParams['pauseTime'] = '4000';
          slideParams['directionNav'] = 1;
          slideParams['directionNavHide'] = 1;
          slideParams['controlNav'] = 1;
          slideParams['keyboardNav'] = 1;
          slideParams['pauseOnHover'] = 0;
          slideParams['manualAdvance'] = false;
          slideParams['captionOpacity'] = 0.6;
          slideParams['stopAtEnd'] = 0;
          slideParams['height'] = 350;
      </script>
      <ul id="featured-boxes">
        <li class="featured_fourth icon-ruler featured-dark">
          <div><h4><a href="">40+ Shortcodes</a></h4>

            <p>Some of them have many different variations.</p></div>
        </li>
        <li class="featured_fourth icon-paint-brush">
          <div><h4><a href="http://e404themes.com/cold/features/color-variations/">16 Color Variations</a></h4>

            <p><strong>Cold Theme</strong> includes 16 different color variations.</p></div>
        </li>
        <li class="featured_fourth icon-tools featured-dark">
          <div><h4><a href="http://e404themes.com/cold/features/powerful-admin-panel/">Powerful Panel</a></h4>

            <p>Which allows you to customize your website.</p></div>
        </li>
        <li class="featured_fourth_last icon-help">
          <div><h4>Customer Support</h4>

            <p>We provide an extensive customer support.</p></div>
        </li>
      </ul>
      <br class="clear"></div>

    <div id="intro" class="text-intro">
      <div class="three_fifth">
        <p><strong>Welcome to Cold Theme: The ultimate all-in-one template.</strong><br>
          Create outstanding website or blog in minutes!</p>
      </div>
      <div class="two_fifth last center">
        <a class="big-btn gradient-btn stroke-btn" href="http://themeforest.net/item/cold-theme-powerful-wordpress-theme/236148?ref=e404"><span><img src="http://e404themes.com/cold/wp-content/themes/cold/images/bullets/arrow.png" alt=""> Available on ThemeForest</span></a>
      </div>
      <br class="clear"></div>

    <div class="one_third">
      <div class="shadow shadow_medium">
        <a href="http://e404themes.com/cold/features/custom-widgets/"><%= image_tag "cold/front/donna.jpg" %></a>
      </div>
      <h2>8 Custom Widgets</h2>

      <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu
        feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum.
      </p></div>
    <div class="one_third">
      <div class="shadow shadow_medium">
        <a href=""><%= image_tag "cold/front/donna.jpg" %></a>
      </div>
      <h2>Support for Contact Form 7</h2>

      <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
        dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
      </p></div>
    <div class="one_third last">
      <div class="shadow shadow_medium">
        <a href="http://e404themes.com/cold/shortcodes/dropcaps-boxes-icon-boxes/"><%= image_tag "cold/front/donna.jpg" %></a>
      </div>
      <h2>72 Icon Boxes</h2>

      <p>Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer
        possim assum. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut
        aliquip.
      </p></div>
    <br class="clear">
    <hr class="dotted">
    <div class="one_third">
      <h2 class="head-icon">
        <%= image_tag "cold/icons/presentation.png", class: "icon" %>
        <a href="">Slide Show</a><span>4 awesome sliders</span>
      </h2>

      <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
        dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.</p>

      <p class="more"><a href="">More details</a></p>
    </div>
    <div class="one_third">
      <h2 class="head-icon">
        <%= image_tag "cold/icons/pencil.png", class: "icon" %>
        <a href="http://www.google.com/webfonts">Google Web Fonts</a>
        <span>Font replacement</span>
      </h2>

      <p>Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer
        possim assum. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut
        aliquip.</p>

      <p class="more"><a href="http://www.google.com/webfonts">More details</a></p>
    </div>
    <div class="one_third last">
      <h2 class="head-icon">
        <%= image_tag "cold/icons/magnifying-glass.png", class: "icon" %>
        <a href="">PrettyPhoto</a><span>With video support</span>
      </h2>

      <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu
        feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum.</p>

      <p class="more"><a href="">More details</a></p>
    </div>
    <br class="clear">

    <div class="fancy_list">
      <div class="one_fifth fancy_title"><h3>Recent Works</h3>

        <p><a href="">view all</a></p></div>
      <div class="one_fifth fancy_list_item">
        <div class="shadow shadow_vsmall aligncenter shadow_center">
          <a href="http://e404themes.com/cold/portfolio/cold-default/"><%= image_tag "cold/front/donna.jpg" %></a>
        </div>
      </div>
      <div class="one_fifth fancy_list_item">
        <div class="shadow shadow_vsmall aligncenter shadow_center">
          <a href="http://e404themes.com/cold/portfolio/mountain-view/"><%= image_tag "cold/front/donna.jpg" %></a>
        </div>
      </div>
      <div class="one_fifth fancy_list_item">
        <div class="shadow shadow_vsmall aligncenter shadow_center">
          <a href="http://e404themes.com/cold/portfolio/city-lights/"><%= image_tag "cold/front/donna.jpg" %></a>
        </div>
      </div>
      <div class="one_fifth last fancy_list_item">
        <div class="shadow shadow_vsmall aligncenter shadow_center">
          <a href="http://e404themes.com/cold/portfolio/natural-video/"><%= image_tag "cold/front/donna.jpg" %></a>
        </div>
      </div>
      <br class="clear"></div>
    <div class="fancy_list">
      <div class="one_fifth fancy_title"><h3>Recent Blog Posts</h3>

        <p><a href="">view all</a></p></div>
      <div class="one_fifth fancy_list_item">
        <div class="shadow shadow_vsmall">
          <a href="http://e404themes.com/cold/2011/04/image-aligned-left-right-center/"><%= image_tag "cold/front/donna.jpg" %></a>

          <div class="fancy_meta">
            <a href="http://e404themes.com/cold/2011/04/image-aligned-left-right-center/#comments" class="fancy_comments">5</a>
          </div>
        </div>
        <h4>
          <a href="http://e404themes.com/cold/2011/04/image-aligned-left-right-center/">Image aligned left, right &amp;
            center</a></h4></div>
      <div class="one_fifth fancy_list_item">
        <div class="shadow shadow_vsmall">
          <a href="http://e404themes.com/cold/2011/04/blog-entry-with-wordpress-gallery/"><%= image_tag "cold/front/donna.jpg" %></a>

          <div class="fancy_meta">
            <a href="http://e404themes.com/cold/2011/04/blog-entry-with-wordpress-gallery/#comments" class="fancy_comments">3</a>
          </div>
        </div>
        <h4><a href="http://e404themes.com/cold/2011/04/blog-entry-with-wordpress-gallery/">Blog entry with WordPress
          Gallery</a></h4></div>
      <div class="one_fifth fancy_list_item">
        <div class="shadow shadow_vsmall">
          <a href="http://e404themes.com/cold/2011/04/duis-aute-irure-dolor-in-reprehenderit/">
            <%= image_tag "cold/front/donna.jpg" %>
          </a>

          <div class="fancy_meta">
            <a href="http://e404themes.com/cold/2011/04/duis-aute-irure-dolor-in-reprehenderit/#comments" class="fancy_comments">0</a>
          </div>
        </div>
        <h4>
          <a href="http://e404themes.com/cold/2011/04/duis-aute-irure-dolor-in-reprehenderit/">Duis aute irure dolor in
            reprehenderit</a></h4></div>
      <div class="one_fifth last fancy_list_item">
        <div class="shadow shadow_vsmall">
          <a href="http://e404themes.com/cold/2011/04/praesentium-voluptatum-deleniti/">
            <%= image_tag "cold/front/donna.jpg" %>
          </a>

          <div class="fancy_meta">
            <a href="http://e404themes.com/cold/2011/04/praesentium-voluptatum-deleniti/#comments" class="fancy_comments">0</a>
          </div>
        </div>
        <h4><a href="http://e404themes.com/cold/2011/04/praesentium-voluptatum-deleniti/">Praesentium voluptatum
          deleniti</a></h4></div>
      <br class="clear"></div>
  </div>

</div>

<div id="footer_wrapper">
  <div id="footer">
    <div class="one_fourth widgets"><h3>Flickr Photos</h3>
      <ul class="flickr">
        <li>
          <a href="http://farm4.static.flickr.com/3034/3040991218_ca432f3dee_z.jpg?zz=1" rel="prettyphoto" title="Dziwne znaki"><img src="http://farm4.static.flickr.com/3034/3040991218_ca432f3dee_s.jpg" width="50" height="50" alt="Dziwne znaki"></a>
        </li>
        <li>
          <a href="http://farm3.static.flickr.com/2084/2486881659_c0458003fa_b.jpg" rel="prettyphoto" title="DIC_Cup_20"><img src="http://farm3.static.flickr.com/2084/2486881659_c0458003fa_s.jpg" width="50" height="50" alt="DIC_Cup_20"></a>
        </li>
        <li>
          <a href="http://farm4.static.flickr.com/3010/2486884237_72840c6eb0_b.jpg" rel="prettyphoto" title="DIC_Cup_23"><img src="http://farm4.static.flickr.com/3010/2486884237_72840c6eb0_s.jpg" width="50" height="50" alt="DIC_Cup_23"></a>
        </li>
        <li>
          <a href="http://farm3.static.flickr.com/2302/2487693822_0a30a656a6_b.jpg" rel="prettyphoto" title="DIC_Cup_16"><img src="http://farm3.static.flickr.com/2302/2487693822_0a30a656a6_s.jpg" width="50" height="50" alt="DIC_Cup_16"></a>
        </li>
        <li>
          <a href="http://farm3.static.flickr.com/2320/2486883475_2814b1d244_b.jpg" rel="prettyphoto" title="DIC_Cup_22"><img src="http://farm3.static.flickr.com/2320/2486883475_2814b1d244_s.jpg" width="50" height="50" alt="DIC_Cup_22"></a>
        </li>
        <li>
          <a href="http://farm4.static.flickr.com/3243/2486879495_580f0a0fd6_b.jpg" rel="prettyphoto" title="DIC_Cup_18"><img src="http://farm4.static.flickr.com/3243/2486879495_580f0a0fd6_s.jpg" width="50" height="50" alt="DIC_Cup_18"></a>
        </li>
        <li>
          <a href="http://farm4.static.flickr.com/3180/2487692968_8849e63a8b_b.jpg" rel="prettyphoto" title="DIC_Cup_15"><img src="http://farm4.static.flickr.com/3180/2487692968_8849e63a8b_s.jpg" width="50" height="50" alt="DIC_Cup_15"></a>
        </li>
        <li>
          <a href="http://farm4.static.flickr.com/3146/2486885079_8f09320729_b.jpg" rel="prettyphoto" title="DIC_Cup_25"><img src="http://farm4.static.flickr.com/3146/2486885079_8f09320729_s.jpg" width="50" height="50" alt="DIC_Cup_25"></a>
        </li>
        <li>
          <a href="http://farm4.static.flickr.com/3066/3040991222_56e44cfe31_z.jpg?zz=1" rel="prettyphoto" title="Segway - promocja"><img src="http://farm4.static.flickr.com/3066/3040991222_56e44cfe31_s.jpg" width="50" height="50" alt="Segway - promocja"></a>
        </li>
        <li>
          <a href="http://farm3.static.flickr.com/2308/2486878937_d8ea8541db_b.jpg" rel="prettyphoto" title="DIC_Cup_17"><img src="http://farm3.static.flickr.com/2308/2486878937_d8ea8541db_s.jpg" width="50" height="50" alt="DIC_Cup_17"></a>
        </li>
        <li>
          <a href="http://farm4.static.flickr.com/3133/2487698424_43860d1392_b.jpg" rel="prettyphoto" title="DIC_Cup_21"><img src="http://farm4.static.flickr.com/3133/2487698424_43860d1392_s.jpg" width="50" height="50" alt="DIC_Cup_21"></a>
        </li>
        <li>
          <a href="http://farm3.static.flickr.com/2380/2486880571_0f57e3aac4_b.jpg" rel="prettyphoto" title="DIC_Cup_19"><img src="http://farm3.static.flickr.com/2380/2486880571_0f57e3aac4_s.jpg" width="50" height="50" alt="DIC_Cup_19"></a>
        </li>
      </ul>
    </div>
    <div class="one_fourth widgets"><h3>Blogroll</h3>

      <ul class="xoxo blogroll">
        <li><a href="http://themeforest.net/user/e404">Our ThemeForest profile</a></li>
        <li><a href="http://e404themes.com">Our website</a></li>
        <li><a href="http://wordpress.org">WordPress</a></li>
        <li><a href="http://wordpress.org/extend/plugins/">WordPress Plugins</a></li>

      </ul>
    </div>

    <div class="one_fourth widgets"><h3>Latest Tweets</h3>
      <ul class="tweets">
        <li>The first Ice Theme update is ready for a download.
          <a href="http://t.co/60lBWZp8" class="twitter-link">http://t.co/60lBWZp8</a>
          <span><a href="http://twitter.com/e404themes/status/124879524314877954">about 1 day ago</a></span></li>
        <li>The new version of Lunar Theme is ready for a download. The most important addition is the Shortcode
          Manager. <a href="http://t.co/ZjftyuW0" class="twitter-link">http://t.co/ZjftyuW0</a>
          <span><a href="http://twitter.com/e404themes/status/123620637347557376">about 5 days ago</a></span></li>
        <li>Meet our new theme - Ice Theme <a href="http://t.co/60lBWZp8" class="twitter-link">http://t.co/60lBWZp8</a>
          <span><a href="http://twitter.com/e404themes/status/121984503018295297">about 1 week ago</a></span></li>
      </ul>
    </div>
    <div class="one_fourth widgets"><h3>Contact Us</h3>

      <div id="cf7_form_box">
        <div class="wpcf7" id="wpcf7-f1-w1-o1">
          <form action="/cold/#wpcf7-f1-w1-o1" method="post" class="wpcf7-form">
            <div style="display: none;">
              <input type="hidden" name="_wpcf7" value="1">
              <input type="hidden" name="_wpcf7_version" value="2.4.4">
              <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f1-w1-o1">
            </div>
            <p>Your Name (required)<br>
    <span class="wpcf7-form-control-wrap your-name"><br>
<input type="text" name="your-name" value="" class="wpcf7-text wpcf7-validates-as-required" size="40"></span></p>

            <p>Your Email (required)<br>
    <span class="wpcf7-form-control-wrap your-email"><br>
<input type="text" name="your-email" value="" class="wpcf7-text wpcf7-validates-as-email wpcf7-validates-as-required" size="40"></span>
            </p>

            <p>Your Message<br>
              <span class="wpcf7-form-control-wrap your-message"><textarea name="your-message" cols="40" rows="10"></textarea></span>
            </p>

            <p>
              <input type="submit" value="Send Message" class="wpcf7-submit"><img class="ajax-loader" style="visibility: hidden;" alt="Sending ..." src="http://e404themes.com/cold/wp-content/plugins/contact-form-7/images/ajax-loader.gif">
            </p>

            <div class="wpcf7-response-output wpcf7-display-none"></div>
          </form>
        </div>
        <div class="clear"></div>
      </div>
    </div>
    <br class="clear">
  </div>
  <div id="copyright">
    <div class="one_half">Copyright © 2011 <a href="http://themeforest.net/user/e404">Cold Theme</a>. All rights
      reserved.
    </div>
    <div class="one_half last right">Powered by: <a href="http://wordpress.org">WordPress</a>.</div>
    <br class="clear">
  </div>
</div>
<script type="text/javascript" src="http://e404themes.com/cold/wp-content/themes/cold/js/galleria.min.js?ver=3.2.1"></script>
<script type="text/javascript" src="http://e404themes.com/cold/wp-content/themes/cold/js/galleria.classic.min.js?ver=3.2.1"></script>
<script type="text/javascript" src="http://e404themes.com/cold/wp-content/themes/cold/js/flowplayer.min.js?ver=3.2.1"></script>
<script type="text/javascript" src="http://e404themes.com/cold/wp-content/themes/cold/js/jquery.nivo.slider.pack.js?ver=3.2.1"></script>
<script type="text/javascript" src="http://e404themes.com/cold/wp-content/themes/cold/js/cold_custom.js?ver=3.2.1"></script>
<script type="text/javascript" src="http://e404themes.com/cold/wp-content/themes/cold/js/nivo_slider_init.js?ver=3.2.1"></script>
<script type="text/javascript" src="http://e404themes.com/cold/wp-content/plugins/contact-form-7/jquery.form.js?ver=2.52"></script>
<script type="text/javascript" src="http://e404themes.com/cold/wp-content/plugins/contact-form-7/scripts.js?ver=2.4.4"></script>
<script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-137579-8']);
    _gaq.push(['_trackPageview']);

    (function() {
        var ga = document.createElement('script');
        ga.type = 'text/javascript';
        ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ga, s);
    })();

</script>


</body>
</html>