<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang='<%= I18n.locale.to_s -%>'>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <title><%=
      raw(strip_tags((ENV['APPLICATION_CONFIG_title_prefix']+
              " "+
              yield(:title))))
  -%></title>
  <%= insert_extra_headers %>

  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "http://maps.googleapis.com/maps/api/js?sensor=false" -%>

  <!-- eieio -->
  <%= javascript_include_tag "application" %>
  <!-- prototype-lib will be loaded only when needed -->
  <%= javascript_tag do %>
      <%= "var google_api_key = '#{ENV['GOOGLE_PLACE_API_KEY']}';" -%>
  <% end %>
  <%= yield :prototype %>
  <%= yield :head %>
  <%= auto_discovery_link_tag(:atom, "/feed") %>
  <%= insert_google_analytics_script if  (Rails.env == 'production') %>
  <% if ENV['APPLICATION_CONFIG_twitter_profile'] %>
      <link rel="me" type="text/html" href="<%= ENV['APPLICATION_CONFIG_twitter_profile'] -%>"/>
  <% end %>
  <% if ENV['APPLICATION_CONFIG_google_profile'] %>
      <link rel="me" type="text/html" href="<%= ENV['APPLICATION_CONFIG_google_profile'] -%>"/>
  <% end %>
  <script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
  <%= csrf_meta_tag %>
  <!--
  <link rel="stylesheet" type="text/css" media="all" href="http://e404themes.com/cold/wp-content/themes/cold/style.css"/>
  <link rel='stylesheet' id='galleria-css' href='http://e404themes.com/cold/wp-content/themes/cold/css/galleria.classic.css?ver=3.2.1' type='text/css' media='all'/>
  <link rel='stylesheet' id='superfish-css' href='http://e404themes.com/cold/wp-content/themes/cold/css/menu.css?ver=3.2.1' type='text/css' media='all'/>
  <link rel='stylesheet' id='scrollable-css' href='http://e404themes.com/cold/wp-content/themes/cold/css/scrollable.css?ver=3.2.1' type='text/css' media='all'/>
  <link rel='stylesheet' id='nivo-css' href='http://e404themes.com/cold/wp-content/themes/cold/css/nivo-slider.css?ver=3.2.1' type='text/css' media='all'/>
  <link rel='stylesheet' id='prettyphoto-css' href='http://e404themes.com/cold/wp-content/themes/cold/css/prettyphoto.css?ver=3.2.1' type='text/css' media='all'/>
  <link rel='stylesheet' id='contact-form-7-css' href='http://e404themes.com/cold/wp-content/plugins/contact-form-7/styles.css?ver=2.4.4' type='text/css' media='all'/>
  -->
  <link rel='stylesheet' id='Lato-css' href='http://fonts.googleapis.com/css?family=Lato&#038;ver=3.2.1' type='text/css' media='all'/>
  <link href="http://e404themes.com/cold/wp-content/themes/cold/styles/style_00.css" rel="stylesheet" type="text/css"/>

  <script type='text/javascript'>try {
      jQuery.noConflict();
  } catch(e) {
  }
  ;</script>

  <link rel="shortcut icon" href="http://e404themes.com/cold/wp-content/themes/cold/admin/images/favicon.ico"/>

  <script type="text/javascript">
      jQuery(document).ready(function() {
          jQuery(".stylespanel-toggle").click(function(e) {
              e.preventDefault();
              jQuery(".stylespanel-content").slideToggle();
          });
          jQuery(".stylespanel-content").hide();
      });
  </script>
</head>

<body>

<div id="header_wrapper">
  <div id="header">
    <div class="leftside" id="logo">
      <a href="http://e404themes.com/cold">
        <%= image_tag "cold/logo.png" %>
      </a>
    </div>
    <div id="header_nav" class="rightside">
      <div id="social_icons" class="leftside">
        <!-- HEADER ICONS -->
        <a href="http://e404themes.com/contact/" title="Contact"><img src="http://e404themes.com/cold/wp-content/themes/cold/images/socialmedia/contact.png" alt="Contact"/></a>
        <a href="http://e404themes.com/cold/?feed=rss2" title="RSS"><img src="http://e404themes.com/cold/wp-content/themes/cold/images/socialmedia/rss.png" alt="RSS"/></a>
        <a href="http://twitter.com/e404themes" title="Twitter"><img src="http://e404themes.com/cold/wp-content/themes/cold/images/socialmedia/twitter.png" alt="Twitter"/></a>
        <a href="http://www.facebook.com/" title="Facebook"><img src="http://e404themes.com/cold/wp-content/themes/cold/images/socialmedia/facebook.png" alt="Facebook"/></a>
        <a href="http://dribbble.com/" title="Dribbble"><img src="http://e404themes.com/cold/wp-content/themes/cold/images/socialmedia/dribbble.png" alt="Dribbble"/></a>
      </div>
      <div id="search" class="leftside">
        <%= render 'search/form' %>
        <form action="http://e404themes.com/cold" method="get">
          <input type="text" name="s" value="Search..." onfocus="if (this.value == 'Search...') {this.value = '';}" onblur="if (this.value == '') {this.value = 'Search...';}"/>
          <input type="submit" value="Go"/>
        </form>
      </div>
    </div>
  </div>
</div>
<div id="navigation">
  <ul id="menu-top-menu" class="sf-menu">
    <li id="menu-item-427" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-5 current_page_item menu-item-427">
      <a href="http://e404themes.com/cold/">Home</a></li>
    <li id="menu-item-428" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-431">
      <a href="http://e404themes.com/cold/features/">Locations</a>
      <ul class="sub-menu">
        <li id="menu-item-433" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-433">
          <a href="http://e404themes.com/cold/features/powerful-admin-panel/">Grant Park</a>
        </li>
        <li id="menu-item-434" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-433">
          <a href="http://e404themes.com/cold/features/powerful-admin-panel/">Decatur</a>
        </li>
      </ul>
    </li>
    <li id="menu-item-435" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-430">
      <a href="FitWit_CampDetails_091911">Camp Details</a>
      <ul class="sub-menu">
        <li id="menu-item-436" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-439">
          <a href="http://e404themes.com/cold/shortcodes/columns/">What's included</a>
        </li>
        <li id="menu-item-437" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-439">
          <a href="http://e404themes.com/cold/shortcodes/columns/">FAQ</a>
        </li>
        <li id="menu-item-438" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-439">
          <a href="http://e404themes.com/cold/shortcodes/columns/">Price</a>
        </li>
        <li id="menu-item-439" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-439">
          <a href="http://e404themes.com/cold/shortcodes/columns/">Schedule</a>
        </li>
      </ul>
    </li>
    <li id="menu-item-440" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-426">
      <a href="http://e404themes.com/cold/blog/">Blog</a></li>
    <li id="menu-item-4" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-428">
      <a href="http://e404themes.com/cold/portfolio/">Non-profit</a>
    </li>
    <li id="menu-item-441" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-429">
      <a href="http://e404themes.com/cold/gallery/">Stories</a>
      <ul class="sub-menu">
        <li id="menu-item-442" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-423">
          <a href="http://e404themes.com/cold/gallery/">Our Company Story</a>
        </li>
        <li id="menu-item-443" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-423">
          <a href="http://e404themes.com/cold/gallery/">Camper Stories</a>
        </li>
      </ul>
    </li>
    <li id="menu-item-444" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-459">
      <a href="http://e404themes.com/cold/contact/">Contact</a></li>
  </ul>
  <br class="clear"/>
</div>
<div id="wrapper">


  <div id="main_wrapper">
    <!-- main content area -->
    <!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
    <% setup_action_buttons %>
    <% if content_for? :action_buttons %>
        <div id='action_buttons'>
          <%= yield(:action_buttons) %>
        </div>
    <% end %>
    <div id='overlay' class="ui-widget-content"></div>
    <div id='scroll-to-top'>
      <%= link_to image_tag("arrow_up_small.png"), '#', :title => t(:scroll_to_top) %>
      <span id='scroll-position'></span>
    </div>
    <div id='overlay' class="ui-widget-content"></div>
    <div id="wrapper">
      <div id="banner">
        <%= render :partial => '/layouts/banner' %>
      </div>

      <div id="session">
        <ul>
          <%= render 'home/menu/application' %>
        </ul>
        <ul style='float: right;'>
          <%= render 'devise/menu/registration_items' %>
          <%= render 'devise/menu/login_items' %>
          <%= render '/home/menu/language_selection' %>
        </ul>
      </div>


      <% if current_root(self) %>
          <div class='submenu_box'>
            <div id='searchbox'>
              delete this!
            </div>
            <ul>
              <%=
                  raw(
                          build_submenu_box(current_root(self)) do |entry|
                              "<li>"+ entry +"</li>"
                          end
                  )
              %>
            </ul>
            <div id='tagcloud'>
              <%= tag_cloud -%>
            </div>
          </div>
          <div class='clear'></div>

      <% end %>
      <div class='main-frame'>
        <div id='flashes'>
          <% flash.each do |name, msg| %>
              <%= content_tag :div, raw(msg), :id => "flash_#{name}" %>
          <% end %>

          <% if user_signed_in? && current_user.user_notifications.displayed.any? %>
              <%= render :partial => 'users/notifications', :locals => {:user_notifications => current_user.user_notifications.displayed} %>
          <% end %>
        </div>
        <div id="container">

          <% if content_for?(:right_column) || content_for?(:right_column_top) %>
              <div id='right-column'>
                <% if content_for?(:right_column_top) %>
                    <div id='right-column-top'>
                      <%= yield(:right_column_top) %>
                    </div>
                <% end %>
                <div id='right-column-bottom'>
                  <%= yield(:right_column) if content_for?(:right_column) %>
                </div>
              </div>
          <% end %>

          <!--
          <div class='google-search'>
             %= insert_google_site_search %
          </div>
          -->
          <div id='container_main'>
            <!-- google_search div id="cse" style="display: hidden; background: #fee;"></div -->
            <%= content_tag(:h1, :id => 'title') do
                yield(:title)
            end if show_title? %>
            <%= yield %>
            <div style='clear: all;'></div>
          </div>
        </div>
      </div>
      <div class='clear'></div>
    </div>
    <div class='clear'></div>
    <%#= render :partial => 'shared/footer' %>
  </div>
  <!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
</div>

</div>

<div id="footer_wrapper">
  <div id="footer">
    <div class="one_fourth widgets"><h3>Flickr Photos</h3>
      <ul class="flickr">
        <li>
          <a href="http://farm4.static.flickr.com/3034/3040991218_ca432f3dee_z.jpg?zz=1" rel="prettyphoto" title="Dziwne znaki">
            <img src="http://farm4.static.flickr.com/3034/3040991218_ca432f3dee_s.jpg" width="50" height="50" alt="Dziwne znaki"/></a>
        </li>
        <li>
          <a href="http://farm3.static.flickr.com/2084/2486881659_c0458003fa_b.jpg" rel="prettyphoto" title="DIC_Cup_20">
            <img src="http://farm3.static.flickr.com/2084/2486881659_c0458003fa_s.jpg" width="50" height="50" alt="DIC_Cup_20"/></a>
        </li>
        <li>
          <a href="http://farm3.static.flickr.com/2302/2487693822_0a30a656a6_b.jpg" rel="prettyphoto" title="DIC_Cup_16">
            <img src="http://farm3.static.flickr.com/2302/2487693822_0a30a656a6_s.jpg" width="50" height="50" alt="DIC_Cup_16"/></a>
        </li>
        <li>
          <a href="http://farm3.static.flickr.com/2380/2486880571_0f57e3aac4_b.jpg" rel="prettyphoto" title="DIC_Cup_19">
            <img src="http://farm3.static.flickr.com/2380/2486880571_0f57e3aac4_s.jpg" width="50" height="50" alt="DIC_Cup_19"/></a>
        </li>
        <li>
          <a href="http://farm3.static.flickr.com/2308/2486878937_d8ea8541db_b.jpg" rel="prettyphoto" title="DIC_Cup_17">
            <img src="http://farm3.static.flickr.com/2308/2486878937_d8ea8541db_s.jpg" width="50" height="50" alt="DIC_Cup_17"/></a>
        </li>
        <li>
          <a href="http://farm4.static.flickr.com/3133/2487698424_43860d1392_b.jpg" rel="prettyphoto" title="DIC_Cup_21">
            <img src="http://farm4.static.flickr.com/3133/2487698424_43860d1392_s.jpg" width="50" height="50" alt="DIC_Cup_21"/></a>
        </li>
        <li>
          <a href="http://farm4.static.flickr.com/3010/2486884237_72840c6eb0_b.jpg" rel="prettyphoto" title="DIC_Cup_23">
            <img src="http://farm4.static.flickr.com/3010/2486884237_72840c6eb0_s.jpg" width="50" height="50" alt="DIC_Cup_23"/></a>
        </li>
        <li>
          <a href="http://farm4.static.flickr.com/3146/2486885079_8f09320729_b.jpg" rel="prettyphoto" title="DIC_Cup_25">
            <img src="http://farm4.static.flickr.com/3146/2486885079_8f09320729_s.jpg" width="50" height="50" alt="DIC_Cup_25"/></a>
        </li>
        <li>
          <a href="http://farm4.static.flickr.com/3066/3040991222_56e44cfe31_z.jpg?zz=1" rel="prettyphoto" title="Segway - promocja">
            <img src="http://farm4.static.flickr.com/3066/3040991222_56e44cfe31_s.jpg" width="50" height="50" alt="Segway - promocja"/></a>
        </li>
        <li>
          <a href="http://farm4.static.flickr.com/3243/2486879495_580f0a0fd6_b.jpg" rel="prettyphoto" title="DIC_Cup_18">
            <img src="http://farm4.static.flickr.com/3243/2486879495_580f0a0fd6_s.jpg" width="50" height="50" alt="DIC_Cup_18"/></a>
        </li>
        <li>
          <a href="http://farm3.static.flickr.com/2320/2486883475_2814b1d244_b.jpg" rel="prettyphoto" title="DIC_Cup_22">
            <img src="http://farm3.static.flickr.com/2320/2486883475_2814b1d244_s.jpg" width="50" height="50" alt="DIC_Cup_22"/></a>
        </li>
        <li>
          <a href="http://farm4.static.flickr.com/3180/2487692968_8849e63a8b_b.jpg" rel="prettyphoto" title="DIC_Cup_15">
            <img src="http://farm4.static.flickr.com/3180/2487692968_8849e63a8b_s.jpg" width="50" height="50" alt="DIC_Cup_15"/></a>
        </li>
      </ul>
    </div>
    <div class="one_fourth widgets"><h3>Blogroll</h3>

      <ul class='xoxo blogroll'>
        <li><a href="http://themeforest.net/user/e404">Our ThemeForest profile</a></li>
        <li><a href="http://e404themes.com">Our website</a></li>
        <li><a href="http://wordpress.org">WordPress</a></li>
        <li><a href="http://wordpress.org/extend/plugins/">WordPress Plugins</a></li>

      </ul>
    </div>

    <div class="one_fourth widgets"><h3>Latest Tweets</h3>
      <ul class="tweets">
        <li>The first Ice Theme update is ready for a download.
          <a href="http://t.co/60lBWZp8" class="twitter-link">http://t.co/60lBWZp8</a>
          <span><a href="http://twitter.com/e404themes/status/124879524314877954">about 1 week ago</a></span></li>
        <li>The new version of Lunar Theme is ready for a download. The most important addition is the Shortcode
          Manager. <a href="http://t.co/ZjftyuW0" class="twitter-link">http://t.co/ZjftyuW0</a>
          <span><a href="http://twitter.com/e404themes/status/123620637347557376">about 1 week ago</a></span></li>
        <li>Meet our new theme - Ice Theme <a href="http://t.co/60lBWZp8" class="twitter-link">http://t.co/60lBWZp8</a>
          <span><a href="http://twitter.com/e404themes/status/121984503018295297">about 2 weeks ago</a></span></li>
      </ul>
    </div>
    <div class="one_fourth widgets">
      <h3>Contact Us</h3>
      <%= render :partial => "/layouts/contact_form" %>
    </div>
    <br class="clear"/>
  </div>
  <div id="copyright">
    <div class="one_half">
           © <%= Time.now.year %>
            by <%= link_to ENV['APPLICATION_CONFIG_copyright'], ENV['APPLICATION_CONFIG_copyright_url'] %>
    </div>
    <div class="one_half last right">Powered by: Something Awesome.</div>
    <br class="clear"/>
  </div>
</div>
<!-- should be for first page only -->
<%= javascript_include_tag "at_bottom/galleria.min.js", "at_bottom/galleria.classic.min.js", "at_bottom/flowplayer.min.js", "at_bottom/jquery.nivo.slider.pack.js", "at_bottom/cold_custom.js", "at_bottom/nivo_slider_init.js" %>

<script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-137579-8']);
    _gaq.push(['_trackPageview']);

    (function() {
        var ga = document.createElement('script');
        ga.type = 'text/javascript';
        ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ga, s);
    })();

</script>

</body>
</html>
