- content_for :header do
  %h3= "Add workout for #{@user.name} at #{@meeting.full_context}"
/ Left thumbnail column
.row
  .span2
    %h4 Others
    %p
    %ul.nav.nav-tabs.nav-stacked
      - @other_attendees.each do |a|
        %li
          = link_to a.full_name, backend_add_workout_for_user_path(a.id,@meeting.id)
  / Right column
  .span8
    = render "workout_form"
    - unless @users_workouts.empty?
      %h3
        Other workouts for
        = @user.first_name
      %table.table.table-striped#workouts_table
        %thead
          %tr
            %th Workout
            %th Score
            %th Notes
            %th Rx'd
            %th &nbsp;
        %tbody
          - @users_workouts.each do |workout|
            = render partial: "workout_row", locals: {workout: workout}
    - else
      %p
        No workouts yet recorded for #{@user.full_name} at this meeting.
    %div= link_to "back to meeting", backend_location_fitness_camp_time_slot_meeting_path(@meeting.time_slot.fitness_camp.location.id, @meeting.time_slot.fitness_camp.id, @meeting.time_slot.id, @meeting.id)

