- content_for :header do
  %h3= "Add a workout for #{@meeting.full_context}"

= simple_form_for([:backend, @location, @fitness_camp, @time_slot, @meeting], html: { :class => 'form-inline' }, url: backend_update_workouts_for_camp_path(@meeting.id)) do |f|
  %fieldset
    .control-group
      = label_tag :workout_fit_wit_workout_id, "Workout", class: 'control-label'
      .controls
        = select_tag :workout_fit_wit_workout_id, options_for_select(@possible_workouts)
    #workout_description
    .control-group
      = f.simple_fields_for :workouts, @new_workouts do |wo_b|
        .well.user_workout
          .user-name
            %strong
              = wo_b.object.user.first_name
            = wo_b.object.user.last_name
          = wo_b.input :user_id, as: :hidden
          = wo_b.input :fit_wit_workout_id, as: :hidden, input_html: {class: "workout_fww_id"}
          = wo_b.input :score, input_html: {style: "width:100px;", class: "score_input"}, placeholder: "Score", label: false
          = wo_b.input :user_note, input_html: {style: "width:100px;"}, placeholder: "User Note", label: false
          Rx
          = wo_b.input :rxd, as: :boolean
          = link_to_remove_fields "remove", wo_b
  .form-actions
    = f.button :submit, "Record Workouts", class: "btn-primary", id: "record_workouts"

%p
  = link_to "Back to #{@meeting.full_context}", backend_location_fitness_camp_time_slot_meeting_path(@meeting.time_slot.fitness_camp.location.id, @meeting.time_slot.fitness_camp.id, @meeting.time_slot.id, @meeting.id)

