- content_for :header do
  %h3= "Add workouts for #{@meeting.full_context}"
/ Left thumbnail column
&lt;
= link_to "Back to #{@meeting.full_context}", backend_location_fitness_camp_time_slot_meeting_path(@meeting.time_slot.fitness_camp.location.id, @meeting.time_slot.fitness_camp.id, @meeting.time_slot.id, @meeting.id)
= form_tag backend_update_workouts_for_camp_path, id: "workout_form" do
  = hidden_field_tag "meeting_id", @meeting.id
  %fieldset
    .clearfix
      = label_tag :fit_wit_workout_id, "Workout"
      .input
        = select_tag :fit_wit_workout_id, options_for_select(@possible_workouts)
      #workout_description
    .clearfix
      %table.table.table-striped
        %thead
          %tr
            %th
              User
            %th
              Score
              %span#workout_score_method
            %th
              Note
            %th
              Rxd
        %tbody
        - @meeting.attendees.each do |user|
          = hidden_field_tag "workouts[][user_id]", user.id
          %tr{id: user.id}
            %td= user.full_name
            %td= text_field_tag "workouts[][score]", '', :size => 15
            %td= text_field_tag "workouts[][note]", '', :size => 30
            %td= check_box_tag "workouts[][rxd]"
  .actions
    = submit_tag "Add or Update All Workouts", class: "btn primary"
