- content_for :header do
  %h3= "Add a workout for #{@meeting.full_context}"

= simple_form_for([:backend, @location, @fitness_camp, @time_slot, @meeting], html: { :class => 'form-inline' }) do |f|
  %fieldset
    = f.simple_fields_for :camp_workouts do |builder|
      = builder.input :fit_wit_workout_id, label: "FitWit Workout:", collection: FitWitWorkout.all
      = builder.simple_fields_for :workouts do |wo_b|
        .control-group
          = f.label wo_b.object.user.certain_name
          .nested-fields
            = wo_b.input :user_id, as: :hidden
            = wo_b.input :score, wrapper: :nested, input_html: {style: "width:100px;"}, placeholder: "Score"
            = wo_b.input :user_note, wrapper: :nested, input_html: {style: "width:200px;"}, placeholder: "User Note"
            Rx
            = wo_b.input :rxd, as: :boolean, wrapper: :nested
  .form-actions
    = f.button :submit, "Add or Update All Workouts", class: "btn-primary"

%p
  = link_to "Back to #{@meeting.full_context}", backend_location_fitness_camp_time_slot_meeting_path(@meeting.time_slot.fitness_camp.location.id, @meeting.time_slot.fitness_camp.id, @meeting.time_slot.id, @meeting.id)

