- content_for :header do
  %h3= "Add workouts for #{@meeting.full_context}"
%p
  = link_to "Back to #{@meeting.full_context}", backend_location_fitness_camp_time_slot_meeting_path(@meeting.time_slot.fitness_camp.location.id, @meeting.time_slot.fitness_camp.id, @meeting.time_slot.id, @meeting.id)

= simple_form_for [:backend, @location, @fitness_camp, @time_slot, @meeting], :html => { :class => 'form-horizontal' } do |f|
  %fieldset
    .control-group
      = label_tag :fit_wit_workout_id, "Workout", class: 'control-label'
      .controls
        = select_tag :fit_wit_workout_id, options_for_select(@possible_workouts)
      #workout_description
    .clearfix
      %table.table.table-striped
        %thead
          %tr
            %th
              User
            %th
              Score
              %span#workout_score_method
            %th
              Note
            %th
              Rxd
        %tbody
          - f.simple_fields_for :workouts do |workout|
            = workout.user.full_name
            = workout.input :score
            = workout.input :note
            = workout.input :rxd, as: :boolean
  .form-actions
    = submit_tag "Add or Update All Workouts", class: "btn btn-primary"
